#footer
  | Powered by 
  a(href='http://www.rockymountainpatent.com') Rocky Mountain Patent
  |  
  p
    a(href='mailto:joseph.oldenburg@gmail.com') Contact Information |
    |  
    a(href='/terms.html') Privacy |
    |  
    a(href='/terms.html') Terms of Use