#footer
  p
    a(href='/whatisideajam') What Is IdeaJam? |  
<<<<<<< HEAD
    a(href='/howideajamworks') How IdeaJam Works |  
=======
    a(href='/howideajamworks') How IdeaJam Works | 
>>>>>>> 7f410e302b5a1c2da3f74db6766a213b357d55f8
    a(href='/faq') FAQ | 
    a(href='/people') Who We Are | 
    a(href='/terms.html') Terms of Use