#footer
  p
    a(href='/whatisideajam') What Is IdeaJam? |  
    a(href='/howideajamworks') How IdeaJam Works |  
    a(href='/faq') FAQ | 
    a(href='/people') Who We Are | 
    a(href='/terms.html') Terms of Use