#footer
  | Powered by 
  a(href='http://www.quandarydev.com') Quandary Dev, LLC
  |  
  p
    a(href='/about') About Us |
    |  
    a(href='/contact') Contact |
    |  
    a(href='/terms.html') Terms of Use