#footer
	.row
		.col-md-4
			p#footer-info
				a(href='/whatisideajam') What Is IdeaJam? |  
				a(href='/howideajamworks') How IdeaJam Works |  
				a(href='/faq') FAQ | 
				a(href='/people') Who We Are | 
				a(href='/terms.html') Terms of Use
		.col-md-4.text-center
			img(src="/co-flag.png", height="60")  
			img(src="/co_proud.png", height="60")
		.col-md-4
			<table id="symantec-seal" width="135" border="0" cellpadding="2" cellspacing="0" title="Click to Verify - This site chose Symantec SSL for secure e-commerce and confidential communications.">
			<tr>
			<td width="135" align="center" valign="top"><script type="text/javascript" src="https://seal.websecurity.norton.com/getseal?host_name=ideajam.io&amp;size=L&amp;use_flash=NO&amp;use_transparent=NO&amp;lang=en"></script><br />
			<a href="http://www.symantec.com/ssl-certificates" target="_blank"  style="color:#000000; text-decoration:none; font:bold 7px verdana,sans-serif; letter-spacing:.5px; text-align:center; margin:0px; padding:0px;">ABOUT SSL CERTIFICATES</a></td>
			</tr>
			</table>
