span.userName Howdy #{user.username}
|  
.profile-headshot
  if headshot
    img.placeholder(src=headshot height="75" width="75" style=headshotStyle)
    a.plus-overlay(href="/profile-picture")
      img(src='/plus-overlay.png' height="75" width="75")
  else  
    img.placeholder(src="/avatar.png" height="75" width="75")
    a.plus-overlay(href="/profile-picture")
      img(src='/plus-overlay.png' height="75" width="75")
a.home-logout.btn.btn-default( href="/begin" ) My Profile
| 
a.home-logout.btn.btn-default( href="/logout" ) Log Out
