.container-fluid.custom-header
  .navbar-header
    button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false")
      span(class="sr-only") Toggle navigation
      span(class="icon-bar")
      span(class="icon-bar")
      span(class="icon-bar")
    a(class="navbar-brand" href="/")
      img(src="/IdeaJam-prebeta.png")
    
  div(class="collapse navbar-collapse" id="bs-example-navbar-collapse-1")
    ul(class="nav navbar-nav navbar-right")
      if Object.keys(user).length != 0
        li
          span.userName #{user.nickname}
      else
        li
          span.userName Welcome Imagineer!
      if headshot && Object.keys(user).length != 0
        li.profile-headshot-list-item
          .profile-headshot
            div(class="placeholder" style="height: 40px; width: 40px; background-image : url('" + headshot + "');  background-position: center center; background-repeat: no-repeat; background-size: cover;" + headshotStyle)
      else  
        li.profile-headshot-list-item
          .profile-headshot
            div(class="placeholder" style="height: 40px; width: 40px; background-image : url('/avatar.png');  background-position: center center; background-repeat: no-repeat; background-size: cover;")
      if Object.keys(user).length != 0
        li
          a.home-logout.btn.btn-electric( href="/jam/dsw" ) DSW Jam
        li
          a.home-logout.btn.btn-default( href="/ideas" ) View All Ideas
        li
          a.home-logout.btn.btn-default( href="/imagineer-picture/") Edit Profile
        li
          a.home-logout.btn.btn-default( href="/logout" ) Log Out
      else 
        li
          a.home-login.btn.btn-success( href="/jam/dsw" ) DSW Jam
        li
          a.home-logout.btn.btn-default( href="/" ) Log In

  .dropdown.custom-nav
    a(class="navbar-brand" href="/")
      img(src="/IdeaJam-prebeta.png")
    if Object.keys(user).length != 0
      span.newUserName #{user.nickname}
    else
      span.newUserName Welcome Imagineer!      

    if headshot
      button.btn.dropdown-toggle(type='button')
        div(class="placeholder" style="height: 40px; width: 40px; background-image : url('" + headshot + "');  background-position: center center; background-repeat: no-repeat; background-size: cover;")      
    else
      button.btn.dropdown-toggle(type='button')
        div(class="placeholder" style="height: 40px; width: 40px; background-image : url('/avatar.png');  background-position: center center; background-repeat: no-repeat; background-size: cover;")      
     ul.dropdown-menu(id="test")
      if Object.keys(user).length != 0
        li
          a.home-logout.btn.btn-default( href="/jam/dsw" ) DSW Jam
        li
          a.home-logout.btn.btn-default( href="/ideas" ) View All Ideas
        li
          a.home-logout.btn.btn-default( href="/imagineer-picture/") Edit Profile
        li
          a.home-logout.btn.btn-default( href="/logout" ) Log Out
      else 
        li
          a.home-login.btn.btn-success( href="/jam/dsw" ) DSW Jam
        li
          a.home-logout.btn.btn-default( href="/" ) Log In


    include 
      script(type="text/javascript").

        $(".dropdown-toggle").click(function(event){
          console.log("clicked");
          var customNav = $('.custom-nav');
          if(customNav.hasClass("open")) {
            customNav.removeClass("open");
          } else {
            customNav.addClass("open");
          }
        });
     