.suggestion-element
	.suggestion
		.suggestion-text
			p <b>Suggestion: </b>#{suggestionText || 'No suggestion text'}
		.suggestion-category
			p <b>Problem: </b>#{suggestionProblem} <b>Category: </b>#{problemCategory}
	.suggestion-maker
		img(src="/avatar.png" height="50" width="50")
		div.userName #{user.username}

