form(role='form', id="viability-overview" action="/update-viability-scores", method="post", data-idea-doc=idea)
  .form-group
    .viability-left-column
      .slider-container
        #perfSlider
        a.viabilityLink(href="/performability")
          label#perfLabel Performability
      br
      .slider-container
        #affordSlider
        a.viabilityLink(href="/affordability")
          label#affordLabel Affordability
      br
      .slider-container
        #featureSlider
        a.viabilityLink(href="/featurability")
          label#featureLabel Featurability
      br
      .slider-container
        #deliverSlider
        a.viabilityLink(href="/deliverability")
          label#deliverLabel Deliverability
      br
      .slider-container
        #useabilitySlider
        a.viabilityLink(href="/useability")
          label#useabilityLabel Useability
      br
      .slider-container
        #maintainSlider
        a.viabilityLink(href="/maintainability")
          label#maintainabilityLabel Maintainability
      br
      .slider-container
        #dangerSlider
        a.viabilityLink(href="/dangerous")
          label#dangerousLabel Danger
      br

    .viability-right-column
      .slider-container
        #durabilitySlider
        a.viabilityLink(href="/durability")
          label#durabilityLabel Durability
      br
      .slider-container
        #imageSlider
        a.viabilityLink(href="/imageability")
          label#imageabilityLabel Imageability
      br
      .slider-container
        #complexSlider
        a.viabilityLink(href="/complexity")
          label#complexityLabel Complexity
      br
      .slider-container
        #precisionSlider
        a.viabilityLink(href="/precision")
          label#precisionLabel Precision
      br
      .slider-container
        #variabilitySlider
        a.viabilityLink(href="/variability")
          label#variabilityLabel Variability
      br
      .slider-container
        #sensitivitySlider
        a.viabilityLink(href="/sensitivity")
          label#sensitivityLabel Sensitivity
      br
      .slider-container
        #immatureSlider
        a.viabilityLink(href="/immaturity")
          label#immaturityLabel Immaturity
      br
      .slider-container
        #skillsSlider
        a.viabilityLink(href="/skills")
          label#skillsLabel Skills
      br
