doctype html
html
  head
    include ./partials/head.jade
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
  body#login-page-body
    .header.navbar.navbar-default
      form(action="/login", method="post" class="form-inline minilogin" role="form")
        .form-group
          input.form-control(type='email', name="username" placeholder="username")
        .form-group
          input(type="hidden", name="_csrf", value="#{csrfToken}")
          input.form-control(type='password', name="password" placeholder="password")
        button(type="submit" class="btn btn-default") Sign in
       
    .container.homepage
      h1.text-center Patent. Refine. Fund.
      h3.text-center Welcome to IdeaJam
      .container.text-center
        .row
          if (!user)
            .container.text-center
              .row
                h3 IdeaJam links dreamers, believers and inventors to affordable patent applications and a mass of creative thought and capital to enable them to conspire to change the world. 
                a.home-login.btn.btn-primary(href="/register") Register for Free
              .row    
                br
                p Login with Social Media:
                a(href="https://developers.google.com/identity/images/btn_google_signin_dark_normal_web.png", class="btn btn-danger") 
                  span.fa.fa-google-plus Google
                |  
                a(href="/auth/facebook",class="btn btn-primary") 
                  span.fa.fa-facebook Facebook
                |  
                a(href="/auth/linkedin",class="btn btn-info") 
                  span.fa.fa-linkedin LinkedIn
               
                a.btn-facebook(onclick="_gaq.push(['_trackEvent', 'btn-social', 'click', 'btn-facebook']);")
                  span.fa.fa-facebook
                  |  Sign in with Facebook
                a.btn.btn-social-icon.btn-google(onclick="_gaq.push(['_trackEvent', 'btn-social-icon', 'click', 'btn-md']);")
                  span.fa.fa-google

                <i class="fa fa-globe" aria-hidden="true"></i>

                br

                <a class="btn btn-block btn-social btn-twitter"><span class="fa fa-twitter"></span> Sign in with Twitter</a>

                br

                <a class="btn btn-block btn-social btn-twitter"><span class="fa fa-twitter"></span>Sign in with Twitter</a>


                br


      if (user)
        h2 You are currently logged in as #{user.nickname}
        a.home-login.btn.btn-go( href="/logout" ) Log Out

    .pagefooter
      include partials/footer.jade


  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')