doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', rel='stylesheet', media='screen')
    link(rel='stylesheet', href='/stylesheets/main.css')
  body
  .container
    h1 Welcome to Rocky Mountain Patent
    if (!user)
      p.lead Login or Register to Continue
      a.home-login.btn.btn-default(href="/login") Login
      &nbsp;
      a.home-login.btn.btn-primary(href="/register") Register
      br
      p Login or Register with Google:
      a(href="/auth/google",class="btn btn-danger") 
        span.fa.fa-google-plus Google

    if (user)
      h2 You are currently logged in as #{user.username}
      a.home-login.btn.btn-default( href="/logout" ) Log Out


  script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')


