.jumbotron {
  background: #532F8C;
  color: white;
  padding-bottom: 80px; 
}
.jumbotron .btn-primary {
    background: #845ac7;
    border-color: #845ac7; 
}
.jumbotron .btn-primary:hover {
      background: #7646c1; 
}
  .jumbotron p 
{
    color: #d9ccee;
    max-width: 75%;
    margin: 1em auto 2em; 
}
.navbar + .jumbotron {
    margin-top: -20px; 
}
.jumbotron .lang-logo {
    display: block;
    background: #B01302;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid white; 
}
.jumbotron .lang-logo img {
      max-width: 100%; 
}

body {
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: white;
}

h1, h2, h3, h4, p {
    font-weight:200 !important;
}

#logged-in-text {
  width: 50%;
  position: absolute;
  top: 30%;
  left: 25%;
}

.home-login.btn {
  margin: 1em 0;
}

.header {
  text-align: right;
  color: white;
  background-color: cornflowerblue;
  font-size: large;
}

.header .home-logout {
  margin: 1em;
}

.container {
  margin-top:3em;
  width: 50%;
}

.container.profile {
  text-align:center;
}

.container.profile ul, ul.waste-value-problem-list {
  list-style-type: none;
  padding-left: 0;
}

.profile-info {
  background-color: #EDBC64;
  text-align:center;
  padding:1em;
  padding-left: 3em;
  margin-bottom: 2em;
}

div#begin-info {
  width:20%;
  display:inline-block;
  text-align: center;
  vertical-align: top;
}

div#begin-info-right {
  width:30%;
  text-align:left;
  vertical-align: top;
  display:inline-block;
}

div#begin-info-aptitudes {
  width:30%;
  text-align:left;
  vertical-align: top;
  display:inline-block;
}
 div#begin-info-right button {
  margin:.3em 0;
}

.container.idea-summary, .container.scoreIdea {
  text-align: left;
  margin-left: 30%;
}

.idea-summary ul {
  list-style-type: none;
  padding: 0;
}

.existingIdeas {
  padding:2em;
  width:50%;
  text-align: center;
  float: left;
  border-right: 1px solid gray;
}
.contributedIdeas {
  margin-top: 0;
  padding:2em;
  width:50%;
  text-align: center;
  float:left;
}

.existingIdeas ul, .contributedIdeas ul {
  list-style: none;
  padding: 0;
}

.slider-container {width : 80%; margin: 0px auto;}

.sliderLabel{
    margin-bottom:5px;
    width : 100px;
    height : 20px;
    line-height : 20px;
    position:relative;
    text-align : center;
}

.slider-end-labels {
  padding-bottom: 1em;
}

span.yes-way {
  float:right;
}

span.no-way {
  float: left;
}

#formKeyFeatures {
  padding-bottom: 2em;
}

#formKeyFeatures textarea {
  margin: 1em;
}

form {
  margin: 0 auto;
}

.view-idea-suggestions {
  margin: 0 auto;
  max-width: 80%;
}

.suggestion-element {
  min-height: 5.5em;
  border:5px solid white;
  border-radius: 5px;
}

.image-block-element {
  min-height: 5.5em;
  border:5px solid white;
  border-radius: 5px;
}

.suggestion {
  width: 70%;
  float:left;
  min-height:5.5em;
}

.idea-image{
  display: inline-block;
  float: left;
  width: 10%;
}

.idea-image img {
  height:100%;
  width:100%;
}

.suggestion.view-all-ideas {
  width : 60%;
}

.suggestion-element.view-all-ideas-block {
  padding:1em 0;
}

.suggestion-maker {
  width:30%;
  float:right;
  background-color: #c0ff3e;
  min-height:5.5em;
}

.suggestion-maker img {
}

.suggestion-maker span {
  vertical-align: middle;
}


.suggestion p {
  padding:.5em;
  margin: 0;
}

.suggestion-text {
  background-color: #ccf2ff;
}

.suggestion {
  background-color: #00bfff;
}

.container.suggestion-summary {
  width:80%;
}

.suggestion-summary h1, .suggestion-summary h3 {
  text-align: center;
}

.suggestion-summary td, th {
  padding: .5em;
  text-align: center;
  width: 5%;
}

.suggestion-summary td {
  border: 1px solid gray;
}

.suggestion-summary > table {
  border:1px solid gray;
}

table.idea-summary {
  max-width : 80%;
  margin: 0 auto;
  margin-bottom: 3em;
}

table.idea-summary th,  table.idea-summary td { 
  border: 1px solid gray;
}

img.summary-image {
  width:100%;
  height:auto;
}

.imagesList.other-images {
  background-color: #ffb6c1;
  padding : 2em;
}

.imagesList.my-images {
  padding:2em;
}

.imagesList .btn {
  margin: 1em;
}

.suggestion-table tr{
  margin: .5em 0;
}

.suggestion-table ul {
  list-style-type: none;
}

.suggestion-table .left-column {
  width: 20%;
}

#formImageUpload input {
  margin: 2em auto;
}

.imageListItems {
    height: 20%;
    width: 20%;
    margin: 1em;
}

.half-column {
  width: 50%;
  float:left;
  margin-bottom: 2em;
}

.edit-column {
  float:left;
}

.idea-function-column{
  float:right;
}

ul.variantDateList {
  margin-left: 25%;
  max-width: 50%;
  margin-top: 1em;
  list-style-type: circle;
}

#sortableProblemList {
  max-width: 50%;
  margin: 0 auto;
}

.list-group-item {
  background-color: 1px solid #ccf2ff;
  border-radius: 5px;
  margin: 2em;
  padding: 1em;
  background-color: #ccf2ff;
}

ul.problemList{
    list-style-type: none;
    max-width: 50%;
    margin-left: 25%;
    text-align: left;
}

.problemOption {
  width: 100%;
  padding: 1em;
  margin: .5em;
  border:1px solid gray;
  border-radius: 5px;
}

.selectedProblem {
  background-color: #ccf2ff;
}

#suggestionList {
  width:50%;
  float: left;
}

table#suggestionPointTable {
  width:50%;
  float:right;
}

.oneSugg {
  background-color: #66ccff;
}

.twoSugg {
  background-color: #FFC024;
}

.threeSugg {
  background-color: #ff99cc;
}

.fourSugg {
  background-color: #87F528;
}

canvas {
  vertical-align: top;
  top: 0;
  left: 10%;
  position: absolute;
  margin-bottom: 5em;
}

#myCanvas {
  display: block;
  margin: 0 auto;
}



.annotate-image-container {
  width: 80%;
  position:relative;
}

.annotate-modal h2, .annotate-modal h3 {
  text-align: initial;
  color: black;
}

#componentList {
  position:absolute;
  padding-left: 1em;
  text-align: left;
  width:17%;
}

.individual-component {
    margin: .5em;
}

.individual-component h4 {
  display: inline;
  padding-left: .5em;
}

.delete-component {
  display : inline;
}

.checkbox input[type=checkbox] {
  margin-left: 0;
}

.idea-summary-data {
  margin:1em;
  padding:1em;
  border: 1px solid gray;
  border-radius: 5px;
}
.idea-summary-data.incomplete-data {
  background-color : #870202;
  color:white;
}

.inventor-only-idea-summary {
  clear: both;
  border-top:1px solid gray;
  background-color: #98eccc;
  height:100%;
}

/*for annotate image page */
.ui-menu .ui-menu-item {
  text-align: left;
}

#new-idea-description {
  color: black;
  text-align: left;
}

.component-descriptions {
  max-width: 50%;
  margin: 0 auto;
  border: 1px solid gray;
  border-radius: 8px;
}

.component-summary .half-column {
    float: none;
    display: inline-block;
    vertical-align: top;
}


.component-summary .suggestion, .component-summary .suggestion-maker {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.component-summary ul {
  list-style-type: none;
  padding-left: 0;
}

.related-components li {
  max-width: 75%;
  margin: 0.5em auto;
  padding: .5em;
  border: 1px solid gray;
  border-radius: 8px;
}

.profile-headshot{
  display:inline;
}

a.plus-overlay {
  display: none;
  margin-left: -75px;
}

a.plus-overlay img{
  opacity : .5;
}


.profile-headshot:hover a.plus-overlay {
  display: inline;
}

.profile-headshot:hover .placeholder {
  opacity : .2;
}

.selectedProfilePic {
  border : 1px solid blue;
  margin : 5px;
  padding : 5px;
}

.edit-annotation:hover, .delete-component:hover  {
  cursor: pointer; cursor: hand; 
  border: 1px solid blue;
}

.example-text {
  color: black;
  font-size: 14px;
  text-align: center;
}

form#addDescription {
  padding: 0 3em 3em;
}
form#addDescription #submit{
  margin-top: 1em;
}

.no-descriptions {
  font-style: italic;
}