.jumbotron {
  background: #532F8C;
  color: white;
  padding-bottom: 80px; 
}
.jumbotron .btn-primary {
    background: #845ac7;
    border-color: #845ac7; 
}
.jumbotron .btn-primary:hover {
      background: #7646c1; 
}
  .jumbotron p 
{
    color: #d9ccee;
    max-width: 75%;
    margin: 1em auto 2em; 
}
.navbar + .jumbotron {
    margin-top: -20px; 
}
.jumbotron .lang-logo {
    display: block;
    background: #B01302;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid white; 
}
.jumbotron .lang-logo img {
      max-width: 100%; 
}

body {
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: white;
}

h1, h2, h3, h4, p {
    font-weight:200 !important;
}

#logged-in-text {
  width: 50%;
  position: absolute;
  top: 30%;
  left: 25%;
}

.home-login.btn {
  margin: 1em 0;
}

.header {
  text-align: right;
  color: white;
  background-color: cornflowerblue;
  font-size: large;
}

.header .home-logout {
  margin: 1em;
}

.container {
  margin-top:3em;
  width: 50%;
}

.container.profile {
  text-align:center;
}

.container.profile ul {
  list-style-type: none;
  padding-left: 0;
}

.profile-info {
  background-color: #EDBC64;
  text-align:left;
  padding:3em;
}

div#begin-info {
  width:50%;
  display:inline-block;
}

div#begin-info-right {
  width:50%;
  text-align:left;
  display:inline-block;
}

.container.idea-summary, .container.scoreIdea {
  text-align: left;
  margin-left: 30%;
}

.slider-container {width : 80%; margin: 0px auto;}

.sliderLabel{
    margin-bottom:5px;
    width : 100px;
    height : 20px;
    line-height : 20px;
    position:relative;
    text-align : center;
}

.slider-end-labels {
  padding-bottom: 1em;
}

span.yes-way {
  float:right;
}

span.no-way {
  float: left;
}

#formKeyFeatures textarea {
  margin: 1em;
}

form {
  margin: 0 auto;
}

.suggestion-summary h1, .suggestion-summary h3 {
  text-align: center;
}

td, th {
  padding: .5em;
  text-align: center;
  width: 5%;
}

td {
  border: 1px solid gray;
}

.suggestion-summary > table {
  border:1px solid gray;
}

img.summary-image {
  width:100%;
  height:auto;
}