body {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #EAE7DE; /* linen */
}

h1, h2, h3, h4, p {
    font-weight:200 !important;
}

p {
  font-family: Roboto;
}

h1, h2, h3, h4 {
  font-family: Roboto Slab, serif;
}

.btn {
  background-color: #00A550;
  color: white;
  border-style: none;
  border-radius: 0px;
}

#logged-in-text {
  width: 50%;
  position: absolute;
  top: 30%;
  left: 25%;
}

.home-login.btn {
  margin: 1em 0;
}

.header {
  text-align: right;
  color: white;
  background-color: #414142;
  font-size: large;
}


.idea-summary {
  margin-top: 3em;
}

.header .home-logout {
  margin: 1em;
}

.container {
  margin-top:3em;
  width: 50%;
}

.container.profile {
  text-align:center;
}

.container.profile ul, ul.waste-value-problem-list {
  list-style-type: none;
  padding-left: 0;
}

.profile-info {
  padding:1em;
  width: 100%;
  margin-bottom: 2em;
  margin-top: 0;
}

.col-md-4.profile-left-column {
  border-right: 1px solid gray;
}

.col-md-8.user-ideas {
  padding : 0;
}

span.idea-text-date {
  margin-left : 1em;
  color: gray;
}

h4.idea-text-name {
  display: inline;
  line-height: 1.5em;
}

.aptitudeList {
  text-align:left;
  vertical-align: top;
  display:inline-block;
}

#contributor-idea-summary-aptitudes, #idea-summary-aptitudes {
  width:100%;
}

div#begin-info-right button {
  margin:.3em 0;
}

.container.idea-summary, .container.scoreIdea {
  text-align: left;
  margin-left: 30%;
}

.idea-summary ul {
  list-style-type: none;
  padding: 0;
}

.app-strength-bar {
  width: 100%;
  height: 3em;
  border: 1px solid gray;
  margin-bottom: 1.5em;
}

.app-strength {
  text-align: center;
  line-height: 3em; /* matches height of parent div to center text*/
  color : white;
  height:100%;
}

.app-strength.not-yet {
  background-color: #C64143; /* tomato red */
}

.app-strength.almost {
  background-color: #D6DE26; /* Electric yellow */
}

.app-strength.yes {
  background-color: #00A550; /* Go green */
}

.existingIdeas {
  padding:0 2em;
  width:50%;
  float: left;
  border-right: 1px solid gray;
}
.contributedIdeas {
  margin-top: 0;
  padding:0 2em;
  width:50%;
  float:left;
}

.existingIdeas ul, .contributedIdeas ul {
  list-style: none;
  padding: 0;
}

/* for the view all viability modal */
.view-all-viabilities .ui-slider {
  display: inline-block;
  width: 75%;
  float: right;
  margin-top: 1em;
}

.view-all-viabilities .viability-icon {
  display: inline-block;
  max-width: 20%;
}

.view-all-viabilities .viability-icon img {
  height: 100%;
  width: 100%;
}

.slider-container {width : 80%; margin: 0px auto;}

.sliderLabel{
    margin-bottom:5px;
    width : 100px;
    height : 20px;
    line-height : 20px;
    position:relative;
    text-align : center;
}

.slider-end-labels {
  padding-bottom: 1em;
}

.value-entered .ui-slider-range {
  background: #00A550; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #EAE8DE , #00A550); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #EAE8DE, #00A550); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #EAE8DE, #00A550); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #EAE8DE , #00A550);  
}

.ui-slider-handle {
  display: none;
}

.ui-corner-all {
  border-radius : 0px;
}

#viabilityModal .modal-content {
  background : #414142; /*dark gray*/
}

span.yes-way {
  float:right;
}

span.no-way {
  float: left;
}

#formKeyFeatures {
  padding-bottom: 2em;
}

#formKeyFeatures textarea {
  margin: 1em;
}

form {
  margin: 0 auto;
}

.view-idea-suggestions {
  margin: 0 auto;
  max-width: 80%;
}

.suggestion-element {
  height: 5.5em;
}

.image-block-element {
  min-height: 5.5em;
  border:5px solid white;
  border-radius: 5px;
}

.suggestion {
  width: 70%;
  float:left;
  min-height:5.5em;
}

table.suggestion-table .col-md-4 {
  padding: 2em;
}

.idea-image.view-all-ideas{
  height: 50%;
  background-size: cover;
  background-position: 50%;  
}

.title-description.view-all-ideas, .title-description.inventor-block {
  height : 35%;
  padding-left: 1em;
}

.footer.view-all-ideas { 
  height: 15%;
  background-color: #414142; /*dark gray */
  position: relative;
}

.footer.view-all-ideas .btn, .footer.inventor-block .btn {
  position: absolute;
  top: 25%;
  transform: translate(10%,0%);
}

.suggestion.view-all-ideas {
  width : 60%;
}

.suggestion-element.view-all-ideas-block {
  height:36em;
  border: 1px solid #B4B4B4;
  background-color: white;
}

.container.network-profile .suggestion-element.view-all-ideas-block {
  height: 24em;
}

.suggestion-element.inventor-block {
  height: auto;
  border: 1px solid #B4B4B4;
  background-color: white;
}

.idea-image.inventor-block.image-block {
  height:15em;
  background-size: cover;
  background-position: 50%;  

}

.suggestion-maker {
  width:30%;
  float:right;
  background-color: #c0ff3e;
  min-height:5.5em;
}

.suggestion-maker img {
}

.suggestion-maker span {
  vertical-align: middle;
}


.suggestion p {
  padding:.5em;
  margin: 0;
}

.suggestion-text {
    background-color: #414142;
    color: white;
}

.suggestion {
  background-color: #AFDDD1; /*Vision*/
}

.container.suggestion-summary {
  width:80%;
}

.container.network-profile {
  width:80%;
}

.view-idea-suggestions .container{ 
  width: 100%;
}

.view-idea-suggestions .container .row, .container.network-profile .row {
  padding: 2.5em;
}

.view-idea-suggestions .container .row .col-md-4, .container.network-profile .row .col-md-4 {
  padding-left: 15px;
  padding-right: 15px;
}

.container.network-profile p {
  font-size : 14px;
  margin: 1em;
}

.suggestion-summary h1, .suggestion-summary h3 {
  text-align: center;
}

.suggestion-summary td, th {
  padding: .5em;
  text-align: center;
  width: 5%;
}

.suggestion-summary td {
  border: 1px solid gray;
}

.suggestion-summary > table {
  border:1px solid gray;
}

table.idea-summary {
  max-width : 80%;
  margin: 0 auto;
  margin-bottom: 3em;
}

table.idea-summary th,  table.idea-summary td { 
  border: 1px solid gray;
}

img.summary-image {
  width:100%;
  height:auto;
}

.imagesList.other-images {
  background-color: #AFDDD1; /*Vision*/
  padding : 2em;
}

.imagesList.my-images {
  padding:2em;
}

.imagesList .btn {
  margin: 1em;
}

.suggestion-table tr{
  margin: .5em 0;
}

.suggestion-table ul {
  list-style-type: none;
}

.suggestion-table .left-column {
  width: 20%;
}

#formImageUpload input {
  margin: 2em auto;
}

.imageListItems {
    height: 20%;
    width: 20%;
    margin: 1em;
}

.half-column {
  width: 50%;
  float:left;
  margin-bottom: 2em;
}

.edit-column {
  float:left;
}

.idea-function-column{
  float:right;
}

ul.variantDateList {
  margin-left: 25%;
  max-width: 50%;
  margin-top: 1em;
  list-style-type: circle;
}

#sortableProblemList {
  max-width: 50%;
  margin: 0 auto;
}

.list-group-item {
  background-color: 1px solid #ccf2ff;
  border-radius: 5px;
  margin: 2em;
  padding: 1em;
  background-color: #ccf2ff;
}

ul.problemList{
    list-style-type: none;
    max-width: 50%;
    margin-left: 25%;
    text-align: left;
}

.problemOption {
  width: 100%;
  padding: 1em;
  margin: .5em;
  border:1px solid gray;
  border-radius: 5px;
}

.selectedProblem {
  background-color: #ccf2ff;
}

#suggestionList {
  width:50%;
  float: left;
}

table#suggestionPointTable {
  width:50%;
  float:right;
}

.oneSugg {
  background-color: #66ccff;
}

.twoSugg {
  background-color: #FFC024;
}

.threeSugg {
  background-color: #ff99cc;
}

.fourSugg {
  background-color: #87F528;
}

canvas {
  vertical-align: top;
  top: 0;
  left: 10%;
  position: absolute;
  margin-bottom: 5em;
}

#myCanvas {
  display: block;
  margin: 0 auto;
}



.annotate-image-container {
  width: 80%;
  position:relative;
}

.annotate-modal h2, .annotate-modal h3 {
  text-align: initial;
  color: black;
}

#componentList {
  position:absolute;
  padding-left: 1em;
  text-align: left;
  width:17%;
}

.individual-component {
    margin: .5em;
}

.individual-component h4 {
  display: inline;
  padding-left: .5em;
}

.delete-component {
  display : inline;
}

.checkbox input[type=checkbox] {
  margin-left: 0;
}

.idea-summary-data {
  margin:1em;
  padding:1em;
}
.idea-summary-data.incomplete-data {
  background-color : #870202;
  color:white;
}

.inventor-only-idea-summary {
  clear: both;
  border-top:1px solid gray;
  background-color: #98eccc;
  height:100%;
  padding: 5em;
}

/*for annotate image page */
.ui-menu .ui-menu-item {
  text-align: left;
}

#new-idea-description {
  color: white;
  text-align: left;
  font-weight: normal;
}

.component-descriptions {
  width: 100%;
  margin: 0 auto;
  background-color: #414142;
  color: white;
}

.component-descriptions h3, .component-descriptions ul li {
  padding: 1em;
}

.component-summary .half-column {
    float: none;
    display: inline-block;
    vertical-align: top;
}


.component-summary .suggestion, .component-summary .suggestion-maker {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.component-summary ul {
  list-style-type: none;
  padding-left: 0;
}

.component-summary {
  padding: 0 5em;
}

.related-components li {
  width: 100%;
  margin: 0.5em auto;
  padding: 1em;
  border: 1px solid gray;
  border-radius: 8px;
}

.profile-headshot{
  display:inline;
}

a.plus-overlay {
  display: none;
  margin-left: -75px;
}

a.plus-overlay img{
  opacity : .5;
}


.profile-headshot:hover a.plus-overlay {
  display: inline;
}

.profile-headshot:hover .placeholder {
  opacity : .2;
}

.selectedProfilePic {
  border : 1px solid blue;
  margin : 5px;
  padding : 5px;
}

.edit-annotation:hover, .delete-component:hover  {
  cursor: pointer; cursor: hand; 
  border: 1px solid blue;
}

.example-text {
  color: black;
  font-size: 14px;
  text-align: center;
}

form#addDescription {
  padding: 0 3em 3em;
}
form#addDescription #submit{
  margin-top: 1em;
}

.no-descriptions {
  font-style: italic;
}

.viability-left-column, .viability-right-column {
  width: 50%;
  vertical-align: top;
  display: inline-block;
}

#viabilityModal { 
  color : #EAE7DE;
}

.modal .close {
  color : #EAE7DE;
}

#viabilityModal label {
  color : #EAE7DE;
  padding: .3em 0;
  margin: .6em 0;
  border-radius: 5px;
}

.components-issues-suggestions-block {
  height:20em;
  width:100%;
  display: inline-block;
  background-color: white;
}

#idea-summary-waste-values {
  background-color: #414142; /*industry*/
  color: white;
  width: 100%;
  margin: 1em 0;
}

.idea-summary.col-md-4, .idea-summary.col-md-8, .component-summary.col-md-8,  .component-summary.col-md-4 {
  padding-top: 2em;
  padding-left:1em;
}

img {
    image-orientation: from-image;
}

/* These are the styles for the suggestion blocks on the variant creation page */

.idea-image.variant-suggestion{
  height: 15em;
  background-size: cover;
  background-position: 50%;  
}

.title-description.variant-suggestion {
  height : 35%;
  padding-left: 1em;
}

.footer.variant-suggestion, .footer.inventor-block { 
  height: 4em;
  background-color: #414142; /*dark gray */
  position: relative;
}

.footer.variant-suggestion .radio {
  position: absolute;
  top: 25%;
  left: 10%;
  color: white;
}

.suggestion-element.variant-suggestion-block {
  height:auto;
  border: 1px solid #B4B4B4;
  background-color: white;
}

.footer.variant-suggestion.image-block {
  height:4em;
}

.idea-image.variant-suggestion.image-block {
  min-height: 15em;
}

.suggestion-element.variant-suggestion-block.image-block {
  height: auto;
}

a.network-link:hover {
  cursor: pointer;
  cursor: hand;
}