@media (max-width: 768px) {

	.container {
		width: 90%;
	}

	.existingIdeas {
	  border: none;
	}

	.col-md-4.profile-left-column {
	  border: none;
	}

	.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
		margin-left: 1em;
    height: 3em;
    vertical-align: middle;
    line-height: 3em;
 	}

	li.profile-headshot-list-item {
		display: none;
	}

  .header .userName {
    line-height: initial;
    margin-right: 1em;	
  }

  .suggestion-tactics, .suggestion-targets {
  	width: 100%;
  	margin: 5px 0 !important;
	}

	.mobile-only {
		display: initial;
	}
	#idea-summary-waste-values a.btn {
    width: 100%;
    font-size: x-large;
	}
	.desktop-only {
		display: none;
	}

	.view-all-viabilities .col-sm-6 {
		height: 11em;
	}

	.view-all-viabilities .row {
		margin: 1em 0;
	}

	.view-all-viabilities .slider-container label {
		margin: .6em !important;
	}

  .container.view-idea-suggestions .row, .container.network-profile .row{
    padding: 0;
  }

  .container.view-idea-suggestions .row, .container.network-profile .row .col-md-4 {
    margin: 0 0 2.5em 0;
  }

  ul.idea-summary-problem-list {
    padding-left: 0;
  }

  ul.idea-summary-problem-list li {
    margin-bottom: 1em;
  }

  .homepage .btn {
    width: 100%;
    margin: .2em;
  }

	.slider-container .row{
	  margin: 1.5em 0;
	}

	.slider-container .row .col-xs-3{
  	padding: 0;
	}

	.slider-container {
		margin-bottom:1em;
	}

	.navbar-brand img {
		max-width: 180px;
	}

  .mobileOnly {
    display: block;
  }

  .desktopOnly {
    display: none;
  }

  .jamBottomNav {
    background-color: #414142;
  }

  .jamBottomNav a {
    color: white;
  }

  .jamBottomNav a div {
    color: white;
    font-size: 10px;
    margin-top: 1em;
  }

  #bottomNav {
    padding: 3%;
  }

	.view-all-viabilities-mobile, .scoreIdea .viability-scores-and-problems {
		text-align: center;
	}

	.viability-scores-and-problems {
		margin: 0 !important;
	}

	.view-all-viabilities .specific-viability-score {
		display : inline;
	}

	.view-all-viabilities .top-row {
		margin-bottom: 0;
	}

	.specific-score-column {
		text-align: center;
	}

	.specific-score-column img{
		width: 40%;
	}

	.specific-imperfection-column {
    margin: 0 !important;
  }

  .specific-imperfection-column div {
  	padding: 0 !important;
  }

	.specific-imperfection-column:active {
		border: 1px solid #414142;
		border-radius: 5px;
	}

	.edit-imperfection {
		width:50%;
	}

	.specific-score-column:active {
		border: 1px solid #414142;
		border-radius: 5px;
	}

	.view-all-viabilities .viability-score img{
		vertical-align: initial;
	}

	.close-viability img {
		margin-top : 1.4em;
	}

	.scoreIdea .viability-icon {
		margin-top: 1em;
	}

	.view-all-viabilities .row.make-suggestion{
		margin: 1em 0 0 0 ;
	}

	.view-all-viabilities .viability-problem-statement {
		margin : 0 1em;
	}

	.view-all-viabilities .specific-viability-score {
		margin-top : 1em;
	}	

	.container-fluid.scoreIdea.view-all-viabilities {
		padding-bottom: 10em;
	}

	.save-buttons {
		text-align: center;
	}

  .mobile-viability-form .save-buttons .btn{
  	margin: 1em 0;
  }

  .mobile-viability-form .save-buttons .btn.btn-success {
  	width: 100%;
	}
  .mobile-viability-form {
  	max-width:90%;
  	margin-top:2em;
  }

  .slider-end-labels {
  	padding-bottom: 2em;
  }

  .scoreIdea {
  	
  }

  .viability-score p, .add-imperfection-btn p {
  	margin: 0;
  }

  .view-all-viabilities .viability-titles {
  	margin: 1.5em 0;
  }

  .view-all-viabilities .viability-titles h3 {
  	text-decoration: underline;
  	padding-left:1em;
  }

  .viability-icon {
  	width: 4em;
  }

	.waste-value-problem-list li {
		margin:1em 0;
	}

}

