@media (max-width: 768px) {

	.container {
		width: 90%;
	}

	.existingIdeas {
	  border: none;
	}

	.col-md-4.profile-left-column {
	  border: none;
	}

	.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
		margin-left: 1em;
    height: 3em;
    vertical-align: middle;
    line-height: 3em;
 	}

	li.profile-headshot-list-item {
		display: none;
	}

  .header .userName {
    line-height: initial;
    margin-right: 1em;	
  }

  .suggestion-tactics, .suggestion-targets {
  	width: 100%;
  	margin: 5px 0 !important;
	}

	.mobile-only {
		display: initial;
	}
	#idea-summary-waste-values a.btn {
    width: 100%;
    font-size: x-large;
	}
	.desktop-only {
		display: none;
	}

	.view-all-viabilities .col-sm-6 {
		height: 11em;
	}

	.view-all-viabilities .row {
		margin: 0;
	}

	.view-all-viabilities .slider-container label {
		margin: .6em !important;
	}

  .container.view-idea-suggestions .row, .container.network-profile .row{
    padding: 0;
  }

  .container.view-idea-suggestions .row, .container.network-profile .row .col-md-4 {
    margin: 0 0 2.5em 0;
  }

  ul.idea-summary-problem-list {
    padding-left: 0;
  }

  ul.idea-summary-problem-list li {
    margin-bottom: 1em;
  }

  .homepage .btn {
    width: 100%;
    margin: .2em;
  }

	.slider-container .row{
	  margin: 1.5em 0;
	}

	.slider-container .row .col-xs-3{
  	padding: 0;
	}

	.navbar-brand img {
		max-width: 180px;
	}

  .mobileOnly {
    display: block;
  }

  .desktopOnly {
    display: none;
  }

  .jamBottomNav {
    background-color: #414142;
  }

  .jamBottomNav a {
    color: white;
  }

  .jamBottomNav a div {
    color: white;
    font-size: 10px;
    margin-top: 1em;
  }

  #bottomNav {
    padding: 3%;
  }

}

