@media (max-width: 768px) {
	.view-all-viabilities-mobile, .scoreIdea .viability-scores-and-problems {
		text-align: center;
	}

	.viability-scores-and-problems {
		margin: 1em 0!important;
	}

	.view-all-viabilities .specific-viability-score {
		display : inline;
	}

	.view-all-viabilities .top-row {
		margin-bottom: 0.5em;
	}

	.specific-score-column {
		text-align: center;
		margin-top:20px;
	}

	.specific-score-column img{
		width: 40%;
	}

	.specific-imperfection-column {
    margin: 0 !important;
  }

  .specific-imperfection-column div {
  	padding: 0 !important;
  }

	.specific-imperfection-column:active {
		border: 1px solid #414142;
		border-radius: 5px;
	}

	.edit-imperfection {
		width:50%;
	}

	.specific-score-column:active {
		border: 1px solid #414142;
		border-radius: 5px;
	}

	.view-all-viabilities .viability-score img{
		vertical-align: initial;
	}

	.close-viability img {
		margin-top : 27px;
	}

	.scoreIdea .viability-icon {
		margin-top: 1em;
	}

	.view-all-viabilities .row.make-suggestion{
		margin: 1em 0;
	}

	.view-all-viabilities .viability-problem-statement {
		margin : 0 1em;
	}

	.view-all-viabilities .specific-viability-score {
		margin-top : 1em;
	}	

	.container-fluid.view-all-viabilities {
		padding-bottom: 10em;
	}

	.save-buttons {
		text-align: center;
	}

  .mobile-viability-form .save-buttons .btn{
  	margin: 1em 0;
  }

  .mobile-viability-form .save-buttons .btn.btn-success,  .mobile-viability-form .save-buttons .btn.btn-vision{
  	width: 100%;
	}
  .mobile-viability-form {
  	max-width:90%;
  	margin-top:2em;
  }

  .slider-end-labels {
  	padding-bottom: 2em;
  }

  .scoreIdea {
  	
  }

  .add-imperfection-btn {
  	width:100%;
  }

  .viability-score p, .add-imperfection-btn p {
  	margin: 0;
  }

  .view-all-viabilities .viability-titles {
  	margin: 0.5em 0;
  }

  .view-all-viabilities .viability-titles .specific-viability-name {
  	text-decoration: underline;
  	display: inline-block;
  }



  .view-all-viabilities .viability-title-link img, .viability-title-link img {
  	width:18px;
  	margin-top:-1em;
  	margin-left: .5em;
  }

  .view-all-viabilities .viability-title-link h3 {
  	margin-top:1em;
  }

  .viability-title-link h2 {
  	display: inline-block;
  	text-decoration: underline;
  }

  .viability-icon {
		width: 3em;
    padding-top: 1em;
  }

	.waste-value-problem-list li {
		margin:1em 0;
	}

	.scoreIdea h2 {
		font-size: 23px;
		padding-top: .5em;
	}

	.scoreIdea {
		padding-bottom: 7em;
	}


	/* Below is for view all ideas */
	.container.view-idea-suggestions {
		max-width:100%;
	}

	.view-idea-suggestions .row .view-all-idea-block {
		padding: 3em 0;
	}

	.container.view-idea-suggestions .row {
		margin: 0;
	}

	.footer.view-all-ideas .btn {
		position: absolute;
    width: 80%;
    left: 10%;
    height: 50%;
    top: 25%;
    transform: initial;
  }

  .col-xs-12.viability-score a, .row.make-suggestion .col-xs-12 a {
  	width:100%;
  }

  .average-score-number, .specific-viability-score {
  	background-color : #D6DE26;
  	border: 1px solid transparent;
  	border-radius : 20px;
  	color: #414142;
  	padding:0px 8px;
  }

  .mobile-viability-help-text {
  	display: none;
  }

  .view-all-viabilities .row.single-viability {
  	border-top: 2px solid #c6c6c6;
  }

  .already-scored {
  	background-color: #D6DE26;
  	padding-bottom: .5em;
  }

  .scored-viabilities, .already-scored {
  	display:none;
  }

  

 }
