doctype html
html
  head
    include ../partials/head.jade
  body.error-page
    h1= title
    p We can't find the idea, jam, or imagineer you are looking for.
    a(href='/') Please head over to the homepage.