doctype html
html
  head
    include ../partials/head.jade
  body.error-page
    h1= title
    p Thank you for being patient! We made a mistake and there was an error.
    a(href='/') Please head over to the homepage.