doctype html
html
  head
    include ../partials/head.jade
    include ../partials/js-includes.jade
  body#topSection
    .header.navbar.navbar-default.jamTopNav
      include ../partials/header.jade

    .container.text-center
        .row
            div.hero-unit  
                h2 <span class="aboutBold">IdeaJam</span> links dreamers, believers and inventors to affordable patent applications and a mass of creative thought and capital to enable them to conspire to change the world.
            h3.text-left What is IdeaJam?
            h4.text-left IdeaJam’s mission is to create the greatest engine for innovation the world has ever seen.
            p.text-left Patent. Refine. Fund.
            p.text-left IdeaJam empowers you to articulate, score and improve your ideas, translate your innovations into a patent application, and fund the initial phases of your idea-driven business by leveraging the power of the crowd.
            p.text-left IdeaJam enables you to accomplish this quickly and inexpensively. IdeaJam also provides you with the benefit of the diversity of inventive contribution offered through crowdsourced innovation.
            p.text-left IdeaJam also helps you to earn credibility and rewards by improving the inventions of others, while offering you the opportunity to engage in rewards-based crowdfunding.
            h3.text-left Why IdeaJam?
            blockquote &quot;63% of American twenty-somethings want to start a business. By 2020, there will be an estimated billion entrepreneurs worldwide. Whether it&#39;s the next Facebook, the next world-changing nonprofit, or the next coffee shop down the street. Starting something is the ambition of today&#39;s generation. But here&#39;s the dirty little secret: starting something is insanely hard.&quot;... (&quot;Get Backed&quot; by Baehr and Loomis, Harvard Business Press)
            h4.text-left But IdeaJam makes it just a bit easier.
            p.text-left Startup founders should protect their innovations before disclosing them to the world. IdeaJam enables innovators to first obtain a patent filing date on the inventions they enter into the system. Once the innovator establishes a priority date, she can claim priority back to the patent application’s date to win any ensuing battles with those who develop the same ideas after that date.
            p.text-left IdeaJam also makes it easier and safer to connect with networks of people with specific skills who can make innovations better. After an innovator files a patent application, IdeaJam allows an inventor to share an invention to the entire IdeaJam network. Other IdeaJam users can identify specific imperfections associated with an invention and suggest solutions. The IdeaJam model incentivizes the crowd to not only suggest improvements to someone else’s invention, but assign all rights in those solutions back to the original inventor.
            p.text-left A specific challenge faced by inventors under the new &quot;first-to- file&quot; patent system in place in the US is speed. Founders must act quickly to get a patent application on file. If a startup founder does not win the race to file a patent application, that innovator may lose the rights in the invention he wishes to build a business around.
            p.text-left If startup founders disclose their ideas - for instance, to raise funds - they risk losing rights every novel innovation that they create. The quandary founders often face, however, is that they usually need to raise money before they can hire a good patent lawyer. What patent work can startup founders perform on their own?
            p.text-left The advent of the economies of scale of ideas, due to crowdsourcing, crowdfunding and the sharing economy, has enabled IdeaJam to accelerate a paradigm shift to a much less expensive, much more effective way to prepare and file patent applications, improve innovative concepts, and then build businesses around the ideas they represent.
            h3.text-left The IdeaJam Team
        .row
            .col-sm-6
                .row
                    img(src="http://www.quandarydev.com/wp-content/uploads/2014/12/Jeff2.png" class="img-responsive center-block about-pic")
                .row.text-left.aboutPadding
                    h2 Jeff Schell
                    h4 CEO
                    p Jeff’s experience as the founder of a number of successfully funded and sold startups and as a patent attorney adds an important dimension to Quandary Dev.  After building and selling a health informatics-related startup, Jeff moved on to establish Rocky Mountain Patent, which protects the ideas of startup founders from around the country.  He speaks at a variety of engagements on startup and IP related issues, including at Rockies Venture Club events.  For Quandary Dev, Jeff contributes his experience as a medical software expert. 
                    p He has lived on every continent, working as a research and development engineering consultant in China, in association with the Interamerican Court of Human Rights in Latin America, following peacekeeping forces in Bosnia and Kosovo and even playing semi-professional football in Ireland.
                    p Jeff earned undergraduate and graduate degrees from Northwestern University, including a masters degree in Medical Informatics.  He also studied economics at Harvard, where he further participated as a delegate at the China-India Development Symposium. 
            .col-sm-6
                .row
                    img(src="/JoeCropped.jpg" class="img-responsive center-block about-pic")
                .row.text-left.aboutPadding
                    h2 Joe Oldenburg
                    h4 CTO
                    p
                      | Oldenburg Web Crafting is a creative and engineering business run by Joe Oldenburg.  He started the business in April 2014, and has been building new projects for clients ever since. Some projects have been collaborations with graphic designers, marketing teams, and other specialists.  Recent collaborators include 
                      a(target='_blank', href='http://roothousestudio.com/') Root House
                      |  and 
                      a(target='_blank', href='http://www.amyhayes.co/') Amy Hayes
                      | .
                    p
                      | Joe comes from a discrete math and computer science background, including full-stack web development at the 
                      a(target='_blank', href='http://nsidc.org/') National Snow and Ice Data Center
                      | , at the University of Colorado - Boulder from 2011 through 2014. Around the Boulder area, he frequently attends the Boulder JavaScript Meetup and other tech/startup events.
                    p
                      | Oldenburg Web Crafting is excited to be a part of the small business culture in Colorado!  Let us know if we can help you.
        .row
            .col-sm-6
                .row
                    img(src="http://www.rockymountainpatent.com/wp-content/uploads/2016/03/Majid.png" class="img-responsive center-block about-pic")
                .row.text-left.aboutPadding
                    h2 Majid Boroujerdi
                    h4 COO
                    p Majid Boroujerdi managed a $400M business at Procter and Gamble and co-founded a behavior change company focused on weight loss. In addition Majid has tremendous expertise in both product management and marketing. He started as a chemical engineer at Procter and Gamble and eventually gained experience in new business development, consumer research and product marketing. Some of these skills were honed in the process of developing a personal genetics service formerly known as Navigenics.
                    p In 2016, Majid participated as a selected CEO for the 10.10.10 conference to solve one often wicked problems facing healthcare.
                    p Majid holds a degree in chemical engineering from Northwestern University.
            .col-sm-6
                .row
                    img(src="http://www.quandarydev.com/wp-content/uploads/2014/12/SeanCirclePic1.jpg" class="img-responsive center-block about-pic")
                .row.text-left.aboutPadding
                    h2 Sean Helvey
                    h4 Software Developer
                    p Sean Helvey is originally from Whittier, California and now resides in beautiful Boulder, Colorado. Sean recently received a Master’s Degree in Computer Science from the prestigious Courant Institute of Mathematical Sciences at New York University.
                      | He is passionate about working directly with clients to solve interesting problems as the founder of 
                      a(href='http://www.bluehook.co/') Blue Hook.


