doctype html
html
  head
    include ../partials/head.jade
    include ../partials/js-includes.jade
  body#topSection
    .header.navbar.navbar-default.jamTopNav
      include ../partials/header.jade

    .container.text-center
        .row
            div.hero-unit  
                h2 <span class="aboutBold">IdeaJam</span> links dreamers, believers and inventors to affordable patent applications and a mass of creative thought and capital to enable them to conspire to change the world.
        .row
            .col-sm-6
                h3
                    a(href='/whatisideajam') What Is IdeaJam?
            .col-sm-6
                h3
                    a(href='/howideajamworks') How IdeaJam Works
            .col-sm-6
                h3 
                    a(href='/people') Who We Are
            .col-sm-6
                h3
                    a(href='/terms.html') Terms of Use
            



