doctype html
html
  head
    include ../partials/head.jade
  body
  .header
    span.userName Howdy #{user.username}
    |  
    img(src="./avatar.png" height="75" width="75")
    a.home-logout.btn.btn-default( href="/begin" ) My Profile
    | 
    a.home-logout.btn.btn-default( href="/logout" ) Log Out

  .container
    h1 What's your Idea?
    form(role='form', id="formAccomplish" action="/accomplish", method="post", style='max-width: 300px;', data-idea-doc=idea)
      .form-group
        h3 How does your idea solve the challenge of #{idea.problem}?
        |  
        textarea.form-control(rows='6', cols="75", name="purposeHow", placeholder='How will it...')
        br
        h4 Ex. A chemical composition that resists melting but preserves the other qualities of snow.
      button.btn.btn-success(type='submit') Continue >
      |  

  include ../partials/js-includes.jade