doctype html
html
  head
    include ../partials/head.jade
  body
  .header
    include ../partials/header.jade

  .container
    form(role='form', id="formAccomplish" action="/accomplish", method="post", style='max-width: 300px;', data-idea-doc=idea)
      .form-group
        h3 Your idea is described as
        input(type="hidden", name="_csrf", value="#{csrfToken}")
        input.form-control(type="text" name="purposeHow", value='The solution of ', id="accomplish")
        p (ex. "The solution of channelling 1.21 jigawatts")
        p#charactersRemaining
        br
      a.home-logout.btn.btn-default( href="/imagineer/" + user.nickname ) Cancel
      |  
      button.btn.btn-success(type='submit') Continue (+5)

    br
    p Hint : You can describe more later!

  include ../partials/js-includes.jade
  script(type="text/javascript").
    var input = document.getElementsByTagName ("input");

    // This is for the main solution text input
    var requiredText = "The solution of "
    $("#charactersRemaining").text((200 ) + " characters remaining");
    input[0].addEventListener ("mousedown", function () {
      if (String($(this).val()).indexOf(requiredText) == -1) {
            $(this).val(requiredText);
      }
      if (this.selectionStart < 16) {
        this.selectionStart = 16;
      }
    }, false);

    input[0].addEventListener ("keydown", function () {
      if (String($(this).val()).indexOf(requiredText) == -1) {
            $(this).val(requiredText);
      }
      if (this.selectionStart < 16) {
        this.selectionStart = 16;
      }
      $("input#accomplish").keyup(function(){
        $("#charactersRemaining").text((200 + requiredText.length - $(this).val().length) + " characters remaining");
      });
    }, false);

