doctype html
html
  head
    include ../partials/head.jade
  body
  .header
    span.userName Howdy #{user.username}
    |  
    img(src="/avatar.png" height="75" width="75")
    a.home-logout.btn.btn-default( href="/begin" ) My Profile
    | 
    a.home-logout.btn.btn-default( href="/logout" ) Log Out

  .container
    h1 What's your Idea?
    form(role='form', id="formAccomplish" action="/accomplish", method="post", style='max-width: 300px;', data-idea-doc=idea)
      .form-group
        h4 The #{idea.name} is a :
        input.form-control(type="text" name="characterization", placeholder='...')
        |  
        h4 The #{idea.name} can be used to 
        input.form-control(type="text" name="purposeHow", placeholder='...')
        br
      a.home-logout.btn.btn-default( href="/idea-summary" ) Idea Summary
      |  
      button.btn.btn-success(type='submit') Continue >


  include ../partials/js-includes.jade