doctype html
html
  head
    include ../partials/head.jade
  body
  .header
    span.userName Howdy #{user.username}
    |  
    a.home-logout.btn.btn-default( href="/logout" ) Log Out

  .container.scoreIdea
    h1 Affordability
    h4 
      | Will it be within my cost expectation?
    br
    form(role='form', id="formAffordability" action="/affordability", method="post", style='max-width: 600px;', data-idea-doc=idea)
      .slider-container
        .slider-end-labels
          span.no-way No Way
          span.yes-way Yes Way
        #affordLabelOne.sliderLabel
        #affordSliderOne
      br
      button.btn.btn-success Continue >

  include ../partials/js-includes.jade
  script(type="text/javascript").
    var labelArr = _.range(101).map(function(number){
      return number.toString();
    });
    var initialValue=50, min=1, max=100;

    ////////////////////////////////////////////
    // SET UP SLIDER ONE
    ////////////////////////////////////////////
    $("#affordSliderOne").slider({
      value:initialValue,
      min: min,
      max: max,
      step: 1,
      slide: function( event, ui ) {
          $("#affordLabelOne").text(labelArr[ui.value]);
          $("#affordLabelOne").css("margin-left", (ui.value-min)/(max-min)*100+"%");
          $("#affordLabelOne").css("left", "-50px");
      }
    });
    $("#affordLabelOne").text(labelArr[initialValue]);
    $("#affordLabelOne" ).css("margin-left", (initialValue -1)/(max-min)*100+"%");
    $("#affordLabelOne").css("left", "-50px");

    $("button.btn-success").click(function(event){
      var sliderOneValue = $("#affordSliderOne").slider("value");
      var inputOne = $("<input>")
               .attr("type", "hidden")
               .attr("name", "affordSliderOneValue").val(sliderOneValue);
      $('#formAffordability').append($(inputOne)).submit();
    });