doctype html
html
	head
		include ../partials/head.jade
	body
		.header.navbar.navbar-default
			include ../partials/header.jade


		.container.network-profile.aptitude-profile
			h2 #{thisAptitude.title}
			h3 Aptitude Leaders
			each inventor, index in topInventors
				- var inventorImage
				- var inventorImageStyle
				- var inventorName
				- var inventorPoints
				- var inventorAptitudeIds
				- var aptitudes = inventorAptitudes
				- var profileLinkURL
				if index % 3 == 0 
					.row
						.col-md-4
							if(topInventors[index])
								if accountNameAndURLs[topInventors[index].username]
									- inventorImage = accountNameAndURLs[topInventors[index].username][0]
									- inventorImageStyle = accountNameAndURLs[topInventors[index].username][1]
								- inventorName = topInventors[index].nickname
								- inventorPoints = topInventors[index].einsteinPoints
								- inventorAptitudeIds = topInventors[index].aptitudes
								include ../partials/inventor-block.jade
						.col-md-4
							if(topInventors[index + 1])
								if accountNameAndURLs[topInventors[index + 1].username]
									- inventorImage = accountNameAndURLs[topInventors[index + 1].username][0]
									- inventorImageStyle = accountNameAndURLs[topInventors[index + 1].username][1]
								else
									- inventorImage = ""
									- inventorImageStyle = ""
								- inventorName = topInventors[index + 1].nickname
								- inventorPoints = topInventors[index + 1].einsteinPoints
								- inventorAptitudeIds = topInventors[index + 1].aptitudes
								include ../partials/inventor-block.jade
						.col-md-4
							if(topInventors[index + 2 ])
								if accountNameAndURLs[topInventors[index + 2].username]
									- inventorImage = accountNameAndURLs[topInventors[index + 2].username][0]
									- inventorImageStyle = accountNameAndURLs[topInventors[index + 2].username][1]
								else 
									- inventorImage = ""
									- inventorImageStyle = ""
								- inventorName = topInventors[index + 2].nickname
								- inventorPoints = topInventors[index + 2].einsteinPoints
								- inventorAptitudeIds = topInventors[index + 2].aptitudes
								include ../partials/inventor-block.jade

			h3 Top Aptitude Ideas
			if ideas.length > 0
				each idea, index in ideas
					- var ideaName
					- var ideaLink
					- var problemCategory
					- var viabilityScore 
					- var accountName
					- var ideaImage
					- var ideaImageStyle
					- var inventorImage
					- var inventorImageStyle
					- var accountNickname
					if index % 3 == 0 
						.row
							.col-md-4
								if(ideas[index])
									- ideaName = ideas[index][0] || ""
									- ideaLink = ideas[index][6]
									- problemCategory = ideas[index][1] || ""
									- viabilityScore  = ideas[index][2]
									- accountName = ideas[index][3]
									- ideaImage = ideas[index][4] || ""
									- ideaImageStyle = ideas[index][5]
									- inventorImage = ideas[index][7] || ""
									- inventorImageStyle = ideas[index][8] || ""
									- accountNickname = ideas[index][9] || ""
									include ../partials/view-all-idea-block.jade
							.col-md-4
								if(ideas[index + 1])
									- ideaName = ideas[index + 1][0] || ""
									- ideaLink = ideas[index + 1][6]
									- problemCategory = ideas[index + 1][1] || ""
									- viabilityScore  = ideas[index + 1 ][2]
									- accountName = ideas[index + 1][3] || ""
									- ideaImage = ideas[index + 1][4] || ""
									- ideaImageStyle = ideas[index + 1][5] || ""
									- inventorImage = ideas[index + 1][7] || ""
									- inventorImageStyle = ideas[index + 1 ][8] || ""
									- accountNickname = ideas[index + 1][9] || ""
									include ../partials/view-all-idea-block.jade
							.col-md-4
								if(ideas[index + 2 ])
									- ideaName = ideas[index + 2 ][0] || ""
									- ideaLink = ideas[index + 2 ][6]
									- problemCategory = ideas[index + 2 ][1] || ""
									- viabilityScore  = ideas[index + 2][2]
									- accountName = ideas[index + 2 ][3] || ""
									- ideaImage = ideas[index + 2 ][4] || ""
									- ideaImageStyle = ideas[index + 2][5] || ""
									- inventorImage = ideas[index + 2 ][7] || ""
									- inventorImageStyle = ideas[index + 2 ][8] || ""
									- accountNickname = ideas[index + 2][9] || ""
									include ../partials/view-all-idea-block.jade
			else
				p <i>No ideas in this aptitude area have been reviewed yet.</i>
			br