doctype html
html
  head
    include ../partials/head.jade
  body
  .container
    h1 Welcome #{user.username}
    h2 Einstein Points: #{user.einsteinPoints}
    h2 Rupees Remaining: #{user.rupees}
    a.home-login.btn.btn-default( href="/logout" ) Log Out
    |  
    a.home-login.btn.btn-success( href="/introduce-idea" ) Begin a New Idea > 

  include ../partials/js-includes.jade
