doctype html
html
  head
    include ../partials/head.jade
  body
  .header.navbar.navbar-default
    include ../partials/header.jade

  .container-fluid
    .row
      h1 Fund This Idea!
    .row
      p Here is a video      
    .row
      p Target: $$$
    .row
      p Rewards: XXX      
