doctype html
html
  head
    include ../partials/head.jade
  body
  .header
    span.userName Howdy #{user.username}
    |  
    img(src="./avatar.png" height="75" width="75")
    a.home-logout.btn.btn-default( href="/logout" ) Log Out

  .container.scoreIdea
    h1 Dangerous
    h4 
      | Are there processes or part function requiring human or environmental protections either in manufacture or in the field?
    br
    form(role='form', id="formDangerous" action="/dangerous", method="post", style='max-width: 600px;', data-idea-doc=idea)
      .slider-container
        .slider-end-labels
          span.no-way No Way
          span.yes-way Yes Way
        #dangerousLabelOne.sliderLabel
        #dangerousSliderOne
      br
      button.btn.btn-success Continue >
      br
      br
      h3 Einstein Points: #{user.einsteinPoints}

  include ../partials/js-includes.jade
  script(type="text/javascript").
    var labelArr = _.range(101).map(function(number){
      return number.toString();
    });
    var initialValue=50, min=1, max=100;

    ////////////////////////////////////////////
    // SET UP SLIDER ONE
    ////////////////////////////////////////////
    $("#dangerousSliderOne").slider({
      value:initialValue,
      min: min,
      max: max,
      step: 1,
      slide: function( event, ui ) {
          $("#dangerousLabelOne").text(labelArr[ui.value]);
          $("#dangerousLabelOne").css("margin-left", (ui.value-min)/(max-min)*100+"%");
          $("#dangerousLabelOne").css("left", "-50px");
      }
    });
    $("#dangerousLabelOne").text(labelArr[initialValue]);
    $("#dangerousLabelOne" ).css("margin-left", (initialValue -1)/(max-min)*100+"%");
    $("#dangerousLabelOne").css("left", "-50px");

    $("button.btn-success").click(function(event){
      var sliderOneValue = $("#dangerousSliderOne").slider("value");
      var inputOne = $("<input>")
               .attr("type", "hidden")
               .attr("name", "dangerSliderOneValue").val(sliderOneValue);
      $('#formDangerous').append($(inputOne)).submit();
    });