doctype html
html
  head
    include ../partials/head.jade
  body
  .header
    span.userName Howdy #{user.username}
    |  
    a.home-logout.btn.btn-default( href="/logout" ) Log Out

  .container.scoreIdea
    h1 Deliverability
    h4 
      | Will the product be ready when the customer wants it?
    br
    form(role='form', id="formDeliverability" action="/deliverability", method="post", style='max-width: 600px;', data-idea-doc=idea)
      .slider-container
        .slider-end-labels
          span.no-way No Way
          span.yes-way Yes Way
        #deliverLabelOne.sliderLabel
        #deliverSliderOne
      br
      button.btn.btn-success Continue >
      br
      br
      h3 Einstein Points: #{user.einsteinPoints}

  include ../partials/js-includes.jade
  script(type="text/javascript").
    var labelArr = _.range(101).map(function(number){
      return number.toString();
    });
    var initialValue=50, min=1, max=100;

    ////////////////////////////////////////////
    // SET UP SLIDER ONE
    ////////////////////////////////////////////
    $("#deliverSliderOne").slider({
      value:initialValue,
      min: min,
      max: max,
      step: 1,
      slide: function( event, ui ) {
          $("#deliverLabelOne").text(labelArr[ui.value]);
          $("#deliverLabelOne").css("margin-left", (ui.value-min)/(max-min)*100+"%");
          $("#deliverLabelOne").css("left", "-50px");
      }
    });
    $("#deliverLabelOne").text(labelArr[initialValue]);
    $("#deliverLabelOne" ).css("margin-left", (initialValue -1)/(max-min)*100+"%");
    $("#deliverLabelOne").css("left", "-50px");

    $("button.btn-success").click(function(event){
      var sliderOneValue = $("#deliverSliderOne").slider("value");
      var inputOne = $("<input>")
               .attr("type", "hidden")
               .attr("name", "deliverSliderOneValue").val(sliderOneValue);
      $('#formDeliverability').append($(inputOne)).submit();
    });