doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', rel='stylesheet', media='screen')
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel='stylesheet', href='//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css')  
  body
  .header
    span.userName Howdy #{user.username}
    |  
    a.home-logout.btn.btn-default( href="/logout" ) Log Out

  .container.scoreIdea
    h1 Durability
    h4 
      | What is the durability of our product?
    br
    form(role='form', id="formDurability" action="/durability", method="post", style='max-width: 600px;', data-idea-doc=idea)
      .slider-container
        .slider-end-labels
          span.no-way Not at all
          span.yes-way Super Durable
        #durabilityLabelOne.sliderLabel
        #durabilitySliderOne
      br
      button.btn.btn-success Continue >

  script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
  script(src='//code.jquery.com/ui/1.11.4/jquery-ui.js')
  script(src='http://underscorejs.org/underscore-min.js')  
  script(type="text/javascript").
    var labelArr = _.range(101).map(function(number){
      return number.toString();
    });
    var initialValue=50, min=1, max=100;

    ////////////////////////////////////////////
    // SET UP SLIDER ONE
    ////////////////////////////////////////////
    $("#durabilitySliderOne").slider({
      value:initialValue,
      min: min,
      max: max,
      step: 1,
      slide: function( event, ui ) {
          $("#durabilityLabelOne").text(labelArr[ui.value]);
          $("#durabilityLabelOne").css("margin-left", (ui.value-min)/(max-min)*100+"%");
          $("#durabilityLabelOne").css("left", "-50px");
      }
    });
    $("#durabilityLabelOne").text(labelArr[initialValue]);
    $("#durabilityLabelOne" ).css("margin-left", (initialValue -1)/(max-min)*100+"%");
    $("#durabilityLabelOne").css("left", "-50px");

    $("button.btn-success").click(function(event){
      var sliderOneValue = $("#durabilitySliderOne").slider("value");
      var inputOne = $("<input>")
               .attr("type", "hidden")
               .attr("name", "durabilitySliderOneValue").val(sliderOneValue);
      $('#formDurability').append($(inputOne)).submit();
    });