doctype html
html
  head
    include ../partials/head.jade
  body
  .header
    span.userName Howdy #{user.username}
    |  
    a.home-logout.btn.btn-default( href="/logout" ) Log Out

  .container.scoreIdea
    h1 Durability
    h4 
      | What is the durability of our product?
    br
    form(role='form', id="formDurability" action="/durability", method="post", style='max-width: 600px;', data-idea-doc=idea)
      .slider-container
        .slider-end-labels
          span.no-way Not at all
          span.yes-way Super Durable
        #durabilityLabelOne.sliderLabel
        #durabilitySliderOne
      br
      button.btn.btn-success Continue >
      br
      br
      h3 Einstein Points: #{user.einsteinPoints}

  include ../partials/js-includes.jade
  script(type="text/javascript").
    var labelArr = _.range(101).map(function(number){
      return number.toString();
    });
    var initialValue=50, min=1, max=100;

    ////////////////////////////////////////////
    // SET UP SLIDER ONE
    ////////////////////////////////////////////
    $("#durabilitySliderOne").slider({
      value:initialValue,
      min: min,
      max: max,
      step: 1,
      slide: function( event, ui ) {
          $("#durabilityLabelOne").text(labelArr[ui.value]);
          $("#durabilityLabelOne").css("margin-left", (ui.value-min)/(max-min)*100+"%");
          $("#durabilityLabelOne").css("left", "-50px");
      }
    });
    $("#durabilityLabelOne").text(labelArr[initialValue]);
    $("#durabilityLabelOne" ).css("margin-left", (initialValue -1)/(max-min)*100+"%");
    $("#durabilityLabelOne").css("left", "-50px");

    $("button.btn-success").click(function(event){
      var sliderOneValue = $("#durabilitySliderOne").slider("value");
      var inputOne = $("<input>")
               .attr("type", "hidden")
               .attr("name", "durabilitySliderOneValue").val(sliderOneValue);
      $('#formDurability').append($(inputOne)).submit();
    });