doctype html
html
  head
    include ../partials/head.jade
    include ../partials/js-includes.jade
  body#topSection
    .header.navbar.navbar-default.jamTopNav
      include ../partials/header.jade

<<<<<<< HEAD
    .container.text-center
      .row
            div.hero-unit  
                h1 <span class="aboutBold">Frequently Asked Questions
    .container.text-left
      .row
        h3 What is IdeaJam's mission?
        p IdeaJam's mission is to create the greatest engine for innovation the world has ever seen.
      .row
        h3 Can I use IdeaJam to create a patent application?
        p The ideas you generate through IdeaJam can be exported into a provisional patent application template.  We recommend that you have an attorney review the patent application template before you file the patent application.
      .row
        h3 Why should I file a patent application to cover my ideas?
        p While IdeaJam does not offer legal advice, nor does our platform offer a substitute for a licensed patent practictioner, the United States Patent and Trademark Office notes the following benefits of filing a provisional patent application:
        ul
            li Provides simplified filing with a lower initial investment with 12 months to assess the invention's commercial potential before committing to higher cost of filing and prosecuting a nonprovisional application for patent.
            li Establishes official United States patent application filing date for the invention.
            li Permits authorized use of "Patent Pending" notice for 12 months in connection with the description of the invention.
            li Enables immediate commercial promotion of invention with greater security against having the invention stolen.
          a(href='https://www.uspto.gov/patents-getting-started/patent-basics/types-patent-applications/provisional-application-patent') Provisional Application for Patent, USPTO
      .row
        h3 What does IdeaJam cost to use?
        p For now, nothing.  The pre-beta version of IdeaJam is free. Once officially launched, we will utilize a "freemium" model, where you can create ideas, add imperfections and solutions and contribute to your inventive networks ("Jams") for free.  Certain services, including the generation of a provisional patent application template, private sharing within a group where all members must sign an NDA to view and develop ideas, will be premium services for a fee. 
      .row
        h3 Can I use IdeaJam to raise money?
        p IdeaJam incorporates a rewards-based crowdfunding engine.  While IdeaJam does not currently allow for the sale of equity within the platform, you can use IdeaJam to set up your crowdfunding "store" to engage in pre-sales of products and sales of other merchandise and services to help you fund the ideas you generate on IdeaJam.   
      .row
        h3 What is the fee to use IdeaJam's crowdfunding platform?
        p IdeaJam charges 5% of total amount raised plus any transactional fees charged by any third party financial transaction service providers.
      .row
        h3 What is the fee to use IdeaJam's crowdfunding platform?
        p IdeaJam charges 5% of total amount raised plus any transactional fees charged by any third party financial transaction service providers.



      
=======
    .container.text-left
      h1.text-center FAQ

      h3 What is the mission of IdeaJam?

      p IdeaJam exists to create the greatest engine for innovation that the world has ever known.

      h3 How can I make money or earn rewards on IdeaJam?

      p IdeaJam allows you to mine your inventive thought for rewards.   For example, every action leading to innovative thought on IdeaJam enables you to earn Einstein Points.  Einstein Points are redeemable for Amazon ® Gift Cards.  Thus, when you contribute inventive thought, whether identifying an imperfection of someone else’s idea, suggesting a solution for someone else’s idea, or building out your own invention’s “idea profile,” you can mine rewards.  Moreover, IdeaJam incorporates a crowdfunding feature where you can raise money for your own ideas or support other projects.   When you submit a solution to improve someone else’s idea on IdeaJam, if that user chooses to incorporate your suggestion into a variant of his or her own idea, a percentage of the crowdfunding raise is reserved for you.  The percentage available is determined by the number of suggestions the original inventor incorporates from the IdeaJam crowd.  A baseline of 10% per crowdfunding raise is reserved for submitters of solutions on IdeaJam.  This portion of the crowdfunding raise is then divided equally among the IdeaJam users who have submitted solutions chosen by the original inventor to incorporate into a variant of his or her idea.  In other words, if a crowdfunding campaign were to raise $100,000 and five solutions were chosen by the original inventor into the idea variant underpinning the campaign, each of person who submitted a solution would earn $2,000 as a result of the campaign.  In exchange for earning a portion of the crowdfunding raise, you agree to assign the rights in the improvement to the inventor’s original concept back to the inventor to further invest in and commercially exploit.

      h3 What are “Idea Variants?” 

      p After you have exposed your idea to the IdeaJam crowd, preferably after filing a provisional patent application related to your idea, other members of the crowd can add imperfections and suggest solutions associated with your idea.  You will receive a notification overlaying the notifications icon in the top left area of the IdeaJam interface whenever someone adds an imperfection or solution.  You can create an infinite number of variants of your idea by incorporating others’ solution suggestions into your own concept.  The creation of a variant should not impact your rights in any previously disclosed idea that you already have filed a provisional patent application for patent pending over (though you should discuss this with a patent attorney).   Should you choose to generate a provisional patent application for an idea variant from that variant’s profile, and then subsequently raise money through IdeaJam’s crowdfunding platform for that variant, the submitters of the solutions that you incorporated into the variant will earn 10% of the crowdfunding raise equally divided among them.  For example, if you incorporate five suggested solutions into a variant of your original idea and then crowdfund the variant, each of the people who submitted a suggestion that you accepted would earn 2% of your ultimate crowdfunding raise.  In exchange for providing a percentage of your crowdfunding raise, those submitting suggested solutions agree to assign all patent rights to you for indefinite term, enabling you to freely commercially exploit the variant of your idea.

      h3 What are “Einstein Points”?

      p Every action of special value that you take on IdeaJam, whether upvoting a suggested solution, creating an imperfection, crowdfunding a concept or starting a new idea, has a point reward associated with it.  Einstein Points provide a number of benefits for you on IdeaJam.  First, you can redeem the Einstein Points you earn for Amazon ® Gift Cards at the present per-point reward value.   Second, Einstein points can help validate you as an innovator.  Whenever you identify and articulate the imperfections of someone else’s idea, or more importantly offer solutions to imperfections of ideas on IdeaJam, you earn Einstein Points.  Your Einstein Point value translates to rankings within your networks and among innovative peers.  You can see where you stack up!  Also, Einstein Points are used to rate IdeaJam “Jam” networks against each other.  This enables you to see how your town stacks up with other towns, how your company stacks up with other companies, and how your school stacks up with other schools.

      h3 How can I mine Einstein Points on IdeaJam?

      p IdeaJam rewards your innovative thought contributions.  Every action that you take on IdeaJam in furtherance of innovation will earn you Einstein Points.   Wherever you see the Einstein Point “coin” icon, by taking the related action, you will earn Einstein Points.  Some actions are worth more Einstein Points than others.   As a general rule, when someone else validates your inventive contributions, you will earn more points.  For instance, you will earn a relatively higher number of Einstein Points when someone else upvotes your inventive contribution, or chooses to incorporate a suggestion that you have offered into a variant of their own invention.

      h3 How is the Einstein Points per-point Amazon ® Gift Card reward value calculated?

      p IdeaJam continuously monitors the actual value of the account that houses the rewards funds and divides that value by the total number of unredeemed Einstein Points outstanding on the IdeaJam network.   This represents the per-point value of an Einstein Point.

      h3 How do I redeem Einstein Points for an Amazon ® Gift Card?

      p You can redeem the Einstein Points that you have earned for an Amazon ® Gift Card of a specific value by going to your User Profile, reviewing your points available, reviewing the per-point value and the total value available to you, clicking “redeem my Einstein Points,” and then paying the redemption fee ($20.00) to redeem your points.  Why does IdeaJam charge a fee to redeem Einstein Points?  Great question – keep reading…

      h3 Why do I need to pay a fee to redeem my Einstein Points?

      p While most of IdeaJam is free, the premium services of IdeaJam do require payment.  A percentage of this payment is transferred to a rewards account to enable the IdeaJam network to redeem their points for a reward.   IdeaJam does require a $20.00 fee to redeem points which goes directly back into the rewards fund.  Why?  Well, simply, if everyone simultaneously made a run on the rewards fund without putting money back into the account, the point value would quickly plummet to zero.  By maintaining a fee to redeem points, we ensure that you only reward points when you have earned a significant amount of points, and we also ensure that the account balance never plummets to zero.   The redemption fee therefore preserves and safeguards the reward value of Einstein Points for all.

      h3 How can I create a patent application on IdeaJam?

      p When you build out your idea profile, you generate content specifically related to your idea.  Each component that you add to your idea profile will have specific descriptions.  These specific descriptions are translated into elements that make up a patent application.   To generate a patent application, you should make your idea profile as detailed as possible.  The value of a patent in part depends on the level of detail that your description of the invention creates.  IdeaJam allows you to generate components, subcomponents, relationships of components, materials to be used in your invention and other descriptions to precisely describe your invention.  Once your idea profile is complete, IdeaJam allows you to generate a provisional patent application template from the information you enter about your invention which you should have an attorney review as IdeaJam does not offer legal advice.  

      h3 Does IdeaJam provide legal advice related to my intellectual property?

      p No.  The provisional patent application template generator feature is intended to save time and effort related to your patenting process prior to speaking with a patent attorney.  IdeaJam also accelerates the process of assembling the variety of components of your ideas, which is important as the United States has now changed to a “first to file” patent system.  The patent application templates generated on IdeaJam are no substitute for the advice of an experienced patent attorney.  IdeaJam recommends that you consult with a patent attorney prior to filing your patent application. 

      h3 Does IdeaJam keep my invention information secret?

      p Yes, until you ask IdeaJam to disclose your idea to the world.  IdeaJam maintains the information that you enter in your idea’s profile private so that only you can see it.  If you choose, you can collaborate with specific people you invite or co-workers.   After you have filed a provisional patent application generated from IdeaJam (we recommend only doing so in consultation with a patent attorney as IdeaJam does not offer legal advice), you can share your idea to the IdeaJam network for feedback, solutions and advice from the crowd for help to make your idea better.   You can also use IdeaJam to engage in rewards-based crowdfunding efforts, where you ask the IdeaJam network to help provide the initial funding to get your idea off the ground.  

      h3 Will IdeaJam steal my ideas?

      p No.  Per our user agreement with you, IdeaJam will maintain your idea in an encrypted format.  IdeaJam will not take or use your idea and will take strong steps to safeguard the privacy and security of your data.

      h3 Is IdeaJam secure?

      p IdeaJam utilizes industry-grade encryption of data both in transit and at rest.  While no company can perfectly guarantee against the risks of hacking and the like, our systems architecture utilizes bank-security grade encryption and data security measures to protect your ideas.  It is always good practice to obtain patent pending status to protect your priority in your ideas soon after you conceive of any invention of value.

      h3 Can IdeaJam help me attract financing to build out my idea?

      p IdeaJam incorporates a rewards-based crowdfunding platform to enable you to engage in pre-sales of your idea concept and related merchandise to help you validate and fund the development of your ideas.  We anticipate incorporating equity-based crowdfunding and angel financing networks within IdeaJam in subsequent versions of the app, however do not yet offer such features.   Separately, IdeaJam allows you to offer your services for sale based upon your aptitudes.  Many imperfections associated with ideas uploaded on IdeaJam require specific aptitudes to solve.  For instance, a special motorcycle idea may require someone with the aptitude of mechanical engineering to solve an associated imperfection.  An inventor may wish to hire you directly based upon your identified aptitude, along with review of the credentials that verify your aptitude such as university degrees, Einstein Point ranking, and the IdeaJam network’s certification of your aptitude.  Thus, you should take great care to earn Einstein Points and carefully fill out your IdeaJam Profile because it will make it more likely for inventors to hire you through IdeaJam.  The funds you earn by offering your services can help fund the further development and commercialization of your ideas.

      h3 What is a “Viability Score”?

      p IdeaJam allows you to rate ideas.   An idea’s viability score on IdeaJam is the aggregate representation of the ratings given by the IdeaJam crowd.  You should rate other inventions to help create viability scores because it helps validate and rank ideas, it helps you and other inventors identify and articulate imperfections associated with each idea on IdeaJam, and importantly it is a mechanism for you to mine Einstein Points.

      h3 How can I offer my services based on my aptitudes on IdeaJam?

      p IdeaJam allows you to offer your services for sale based upon your aptitudes.  Many imperfections associated with ideas uploaded on IdeaJam require specific aptitudes to solve.  For instance, a special motorcycle idea may require someone with the aptitude of mechanical engineering to solve an associated imperfection.  An inventor may wish to hire you directly based upon your identified aptitude, along with review of the credentials that verify your aptitude such as university degrees, Einstein Point ranking, and the IdeaJam network’s certification of your aptitude.  Thus, you should take great care to earn Einstein Points and carefully fill out your IdeaJam Profile because it will make it more likely for inventors to hire you through IdeaJam.  To offer your services for sale, simply go to your user profile page and click “enable listing of my services for sale.”  You can then add a brief description of your experience and provide a suggested hourly rate.  Once enabled, IdeaJam will add a “Service Provider” icon next to your profile picture displayed on various feeds throughout IdeaJam.   After you are hired, your clients can provide public feedback and ratings for you, providing valuable information about your skill level for subsequent clients to review (so take good care of the people who hire you!)
>>>>>>> 7f410e302b5a1c2da3f74db6766a213b357d55f8

    .pagefooter
      include ../partials/footer.jade

  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')