doctype html
html
  head
    include ../partials/head.jade
    include ../partials/js-includes.jade
  body#topSection
    nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          .row
            .col-md-4
                img(src="/IdeaJamIcon-2.png", height="40")
            .col-md-4
            .col-md-4.text-right
                if !(user)
                    a.home-login.btn.btn-go.btn-sm(href="/login") Login
                    a.home-login.btn.btn-primary.btn-sm(href="/register") Register
                if (user)
                    a.home-login.btn.btn-go.btn-sm(href="/people", type='button') 
                      |   Who We Are         
                      span.fa.fa-caret-square-o-right

    .jumbotron
      h1.text-center Frequently Asked Questions
    .container.text-left
      #accordion.panel-group(role='tablist', aria-multiselectable='true')
        .panel.panel-default
          #headingOne.panel-heading(role='tab')
            h4.panel-title
              a(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseOne', aria-expanded='true', aria-controls='collapseOne')
                | What is the mission of IdeaJam?
          #collapseOne.panel-collapse.collapse.in(role='tabpanel', aria-labelledby='headingOne')
            .panel-body
              | IdeaJam exists to create the greatest engine for innovation that the world has ever known.
        .panel.panel-default
          #headingTwo.panel-heading(role='tab')
            h4.panel-title
              a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseTwo', aria-expanded='false', aria-controls='collapseTwo')
                | How can I make money or earn rewards on IdeaJam?
          #collapseTwo.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingTwo')
            .panel-body
              p IdeaJam allows you to mine your inventive thought for rewards.   For example, every action leading to innovative thought on IdeaJam enables you to earn Einstein Points.  Einstein Points are redeemable for Amazon ® Gift Cards.  Thus, when you contribute inventive thought, whether identifying an imperfection of someone else’s idea, suggesting a solution for someone else’s idea, or building out your own invention’s “idea profile,” you can mine rewards.  
              p Moreover, IdeaJam incorporates a crowdfunding feature where you can raise money for your own ideas or support other projects.   When you submit a solution to improve someone else’s idea on IdeaJam, if that user chooses to incorporate your suggestion into a variant of his or her own idea, a percentage of the crowdfunding raise is reserved for you.  The percentage available is determined by the number of suggestions the original inventor incorporates from the IdeaJam crowd.  
              p A baseline of 10% per crowdfunding raise is reserved for submitters of chosen solutions on IdeaJam.  This portion of the crowdfunding raise is then divided equally among the IdeaJam users who have submitted solutions chosen by the original inventor to incorporate into a variant of his or her idea.  In other words, if a crowdfunding campaign were to raise $100,000 and five solutions were chosen by the original inventor into the idea variant underpinning the campaign, each of person who submitted a solution would earn $2,000 as a result of the campaign.  In exchange for earning a portion of the crowdfunding raise, you agree to assign the rights in the improvement to the inventor’s original concept back to the inventor to further invest in and commercially exploit.
        .panel.panel-default
          #headingTen.panel-heading(role='tab')
            h4.panel-title
              a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseTen', aria-expanded='false', aria-controls='collapseTen')
                | How can I create a patent application on IdeaJam?
          #collapseTen.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingTen')
            .panel-body
              p When you build out your idea profile, you generate content specifically related to your idea. Each component that you add to your idea profile will have specific descriptions. These specific descriptions are translated into elements that make up a patent application.   
              p To generate a patent application, you should make your idea profile as detailed as possible.  The value of a patent in part depends on the level of detail that your description of the invention creates.  IdeaJam allows you to generate components, subcomponents, relationships of components, materials to be used in your invention and other descriptions to precisely describe your invention.  
              p Once your idea profile is complete, IdeaJam generates a U.S. provisional patent application template from the information you enter about your invention, which you should have an attorney review and amend as necessary prior to filing the application.  IdeaJam does not offer legal advice.  
        .panel.panel-default
          #headingFifteen.panel-heading(role='tab')
            h4.panel-title
              a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseFifteen', aria-expanded='false', aria-controls='collapseFifteen')
                | What is a “Viability Score?”
          #collapseFifteen.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingFifteen')
            .panel-body
              p IdeaJam allows you to rate your own and others' ideas.   An idea’s viability score on IdeaJam is the aggregate representation of the ratings given by IdeaJam members.  
              p You should score other inventions to help create viability scores as it helps validate and rank ideas for the benefit of all members. Scoring inventions also helps you and other inventors identify and articulate criticisms and solutions associated with each idea on IdeaJam.  Importantly, scoring others' ideas is also a rewarding mechanism for you to mine Einstein Points on IdeaJam.
        .panel.panel-default
          #headingThree.panel-heading(role='tab')
            h4.panel-title
              a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseThree', aria-expanded='false', aria-controls='collapseThree')
                | What are “Idea Variants?” 
          #collapseThree.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingThree')
            .panel-body
              p After you have exposed your idea to the IdeaJam crowd, preferably after filing a provisional patent application related to your idea, other members of the crowd can add imperfections and suggest solutions associated with your idea.  
              p You will receive a notification overlaying the notifications icon in the top left area of the IdeaJam interface whenever someone adds an imperfection or solution.  You can create an infinite number of variants of your idea by incorporating others’ solution suggestions into your own concept.  The creation of a variant should not impact your rights in any previously disclosed idea that you already have filed a provisional patent application for patent pending over (though you should discuss this with a patent attorney).   
              p Should you choose to generate a provisional patent application for an idea variant from that variant’s profile, and then subsequently raise money through IdeaJam’s crowdfunding platform for that variant, the submitters of the solutions that you incorporated into the variant will earn 10% of the crowdfunding raise equally divided among them.  For example, if you incorporate five suggested solutions into a variant of your original idea and then crowdfund the variant, each of the people who submitted a suggestion that you accepted would earn 2% of your ultimate crowdfunding raise.  
              p In exchange for providing a percentage of your crowdfunding raise, those submitting suggested solutions agree to assign all patent rights to you for indefinite term, enabling you to freely commercially exploit the variant of your idea.
        .panel.panel-default
          #headingFive.panel-heading(role='tab')
            h4.panel-title
              a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseFive', aria-expanded='false', aria-controls='collapseFive')
                | What are “Einstein Points?”
          #collapseFive.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingFive')
            .panel-body
              p Every action of special value that you take on IdeaJam, whether upvoting a suggested solution, creating an imperfection, crowdfunding a concept or starting a new idea, has a point reward associated with it.  Einstein Points provide a number of benefits for you on IdeaJam.  
              p First, you can redeem the Einstein Points you earn for Amazon ® Gift Cards at the present per-point reward value.   Second, Einstein points can help validate you as an innovator.  
              p Whenever you identify and articulate the imperfections of someone else’s idea, or more importantly offer solutions to imperfections of ideas on IdeaJam, you earn Einstein Points.  Your Einstein Point value translates to rankings within your networks and among innovative peers.  You can see where you stack up!  
              p Also, Einstein Points are used to rate IdeaJam “Jam” networks against each other.  This enables you to see how your town stacks up with other towns, how your company stacks up with other companies, and how your school stacks up with other schools.
        .panel.panel-default
          #headingSix.panel-heading(role='tab')
            h4.panel-title
              a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseSix', aria-expanded='false', aria-controls='collapseSix')
                | How can I mine Einstein Points on IdeaJam?
          #collapseSix.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingSix')
            .panel-body
              p IdeaJam rewards your innovative thought contributions.  Every action that you take on IdeaJam in furtherance of innovation will earn you Einstein Points.   
              p Wherever you see the Einstein Point “coin” icon on IdeaJam, by taking the related action, you will earn Einstein Points.  Some actions are worth more Einstein Points than others.   
              p As a general rule, when someone else validates your inventive contributions, you will earn a multiple of the points you earned simply for submitting the idea.  For instance, you will earn a relatively higher number of Einstein Points when someone else upvotes your inventive contribution, or chooses to incorporate a suggestion that you have offered into a variant of their own invention.
        .panel.panel-default
          #headingSeven.panel-heading(role='tab')
            h4.panel-title
              a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseSeven', aria-expanded='false', aria-controls='collapseSeven')
                | How is the Einstein Points per-point reward value calculated?
          #collapseSeven.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingSeven')
            .panel-body
              p IdeaJam continuously monitors the actual value of the account that houses the rewards funds and divides that value by the total number of unredeemed Einstein Points outstanding on the IdeaJam network.   This represents the per-point value of an Einstein Point.
              p You can redeem your Einstein Point rewards from your user profile page on IdeaJam.
        .panel.panel-default
          #headingEight.panel-heading(role='tab')
            h4.panel-title
              a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseEight', aria-expanded='false', aria-controls='collapseEight')
                | How do I redeem my Einstein Points?
          #collapseEight.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingEight')
            .panel-body
              p You can redeem the Einstein Points that you have earned by going to your user profile on IdeaJam, reviewing your points available, reviewing the per-point value and the total value available to you, clicking “redeem my Einstein Points,” and then paying the redemption fee ($20.00) to redeem your points.  
              p Why does IdeaJam charge a redemption fee to redeem Einstein Points?  Great question – keep reading…      
        .panel.panel-default
          #headingNine.panel-heading(role='tab')
            h4.panel-title
              a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseNine', aria-expanded='false', aria-controls='collapseNine')
                | Why do I need to pay a fee to redeem my Einstein Points?
          #collapseNine.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingNine')
            .panel-body
              p While you can earn Einstein Points even as a free (as opposed to premium/paid) member, you must pay a redemption fee of $20.00 to redeem your points.  Why?  Well, simply, if everyone simultaneously made a run on the rewards fund without putting money back into the account, the point value would quickly plummet to zero. It follows, therefore, that it only makes sense to redeem your Einstein Points when the equivalent value of your points in aggregate is significantly more than $20.00.
              p By maintaining a fee to redeem points, we ensure that every member only redeems points after earning a significant amount of points, generally by taking actions that benefit other members and their ideas (for instance, by earning Einstein Points for submitting criticisms and solutions to criticisms of other members' ideas).  Importantly, we also ensure that the balance of the account holding the funds for rewards never plummets to zero.   The redemption fee therefore preserves and safeguards the reward value of Einstein Points for all.
              p The owners of IdeaJam do not withdraw any funds from this account - its sole purpose is to maintain a positive reward for use of the IdeaJam network to better their own and other members's ideas. The only purpose of the redemption fee is simply to replenish the Einstein Point reward account. This replenishment ensures that the rewards account will constantly maintain a positive balance so that all users of IdeaJam continue to have a positive incentive to utilize IdeaJam to improve the world. 
        .panel.panel-default
          #headingEleven.panel-heading(role='tab')
            h4.panel-title
              a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseEleven', aria-expanded='false', aria-controls='collapseEleven')
                | Does IdeaJam provide legal advice related to my intellectual property?
          #collapseEleven.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingEleven')
            .panel-body
              p No.  The provisional patent application template generator feature of IdeaJam is intended to save time and effort related to your patenting process prior to speaking with a patent attorney.  By using IdeaJam, you agree to the Terms of Service, which expressly stipulate that you will not treat the patent application templates generated by IdeaJam as legal advice.
              p The patent application templates generated on IdeaJam are no substitute for the advice of an experienced patent attorney.  IdeaJam recommends that you consult with a patent attorney prior to filing your patent application. 
              p IdeaJam may accelerate the process of assembling and articulating the variety of components of your invention, which is important as the United States has now changed to a “first to file” patent system.  
              p Moreover, IdeaJam does streamline the process of connecting with and transferring your ideas to a select group of patent attorneys and firms from within the app.  IdeaJam makes no representation or warranty of the quality or qualifications of those attorneys or firms.
              p IdeaJam provides a link to the United States Patent and Trademark Office (USPTO) website, which may contain relevant information to the patenting process in the US.  IdeaJam makes no representation or warranty of the quality of the information provided by any third parties, including the USPTO.
        .panel.panel-default
          #headingTwelve.panel-heading(role='tab')
            h4.panel-title
              a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseTwelve', aria-expanded='false', aria-controls='collapseTwelve')
                | Does IdeaJam keep my invention information secret?
          #collapseTwelve.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingTwelve')
            .panel-body
              p Yes, until you ask IdeaJam to disclose your idea to the world.  
              p IdeaJam protects access to the information that you enter in your idea’s profile private so that initially only you can see it.  If and when you choose, you can collaborate with specific people you invite or co-workers.   
              p After you have filed a provisional patent application generated from IdeaJam to obtain "patent pending" status and rights in your idea (we recommend only doing so in consultation with a patent attorney as IdeaJam does not offer legal advice), you can share your idea to the IdeaJam network for feedback, solutions and advice from the crowd for help to make your idea better.   
              p Once your idea is shared, ou can also use IdeaJam to engage in rewards-based crowdfunding efforts, where you ask the IdeaJam network to help provide the initial funding in the form of pre-sales or merchandise sales (like other rewards-based crowdfunding networks) to get your idea off the ground.  
        .panel.panel-default
          #headingThirteen.panel-heading(role='tab')
            h4.panel-title
              a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseThirteen', aria-expanded='false', aria-controls='collapseThirteen')
                | Will IdeaJam steal my ideas?
          #collapseThirteen.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingThirteen')
            .panel-body
              p No. Per our terms of service, IdeaJam will take steps to safeguard the privacy and security of the information associated with your ideas. 
              p These safeguards include maintaining your idea in an encrypted format, storing your information at access-controlled facilities in line with security standards, and not reviewing your private information unless absolutely necessary to preserve the functionality of the app.  In the unlikely case that one of our staff members must access your data to preserve the functionality of the app, we will not use or disclose that information.  
              p IdeaJam does not take or use your ideas and implements strong safeguards for privacy and security of your data.
        .panel.panel-default
          #headingFourteen.panel-heading(role='tab')
            h4.panel-title
              a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseFourteen', aria-expanded='false', aria-controls='collapseFourteen')
                | Is IdeaJam secure?
          #collapseFourteen.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingFourteen')
            .panel-body
              p IdeaJam utilizes industry-grade encryption of data both in transit and at rest.  While no company can perfectly guarantee against the risks of hacking and the like in any context associated with the internet, our systems architecture utilizes bank-grade security, encryption and data security measures to protect your ideas.  
              p It is always good practice to speak with an attorney to consider obtaining patent pending status to protect your priority in your ideas soon after you conceive of any invention of value.  IdeaJam's patent application template generator can assist you in articulating your ideas for more efficient consultation with an attorney in furtherance of more efficient filing of a patent application related to your ideas.
        .panel.panel-default
          #headingFifteen.panel-heading(role='tab')
            h4.panel-title
              a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseFifteen', aria-expanded='false', aria-controls='collapseFifteen')
                | Can IdeaJam help me attract financing to build out my idea?
          #collapseFifteen.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingFifteen')
            .panel-body
              p IdeaJam incorporates a rewards-based crowdfunding platform to enable you to engage in pre-sales of your idea concept and related merchandise to help you validate and fund the development of your ideas.  
              p We anticipate incorporating equity-based crowdfunding and angel financing networks within IdeaJam in subsequent versions of the app, however do not yet offer such features.We also anticipate that you will be able to offer your services for sale based upon your aptitudes to help you earn funds to finance your ideas.  
              p Many imperfections associated with ideas uploaded on IdeaJam require specific aptitudes to solve.  For instance, a special motorcycle idea may require someone with the aptitude of mechanical engineering to solve an associated imperfection.  An inventor may wish to hire you directly based upon your identified aptitude, along with review of the credentials that verify your aptitude such as university degrees, Einstein Point ranking, and the IdeaJam network’s certification of your aptitude.  Thus, you should take great care to earn Einstein Points and carefully fill out your IdeaJam Profile because it will make it more likely for inventors to hire you (in the future) through IdeaJam.  The funds earned by offering your services on future iterations of IdeaJam might help fund the further development and commercialization of your ideas.
        .panel.panel-default
          #headingSeventeen.panel-heading(role='tab')
            h4.panel-title
              a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseSeventeen', aria-expanded='false', aria-controls='collapseSeventeen')
                | How can I offer my services based on my aptitudes on IdeaJam?
          #collapseSeventeen.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingSeventeen')
            .panel-body
              p IdeaJam expects to allow you to offer your services for sale based upon your aptitudes.Many imperfections associated with ideas uploaded on IdeaJam require specific aptitudes to solve.  For instance, a special motorcycle idea may require someone with the aptitude of mechanical engineering to solve an associated imperfection.  
              p An inventor may wish to hire you directly based upon your identified aptitude, along with review of the credentials that verify your aptitude such as university degrees, Einstein Point ranking, and the IdeaJam network’s certification of your aptitude.  Thus, you should take great care to earn Einstein Points and carefully fill out your IdeaJam Profile because we expect that other members will therefore be more likely to hire you through IdeaJam.  
              p In future versions of IdeaJam, to offer your services for sale, you may simply go to your user profile page and click “enable listing of my services for sale.”  You will  then be prompted to add a brief description of your experience and provide a suggested hourly rate.  Once enabled, IdeaJam will add a “Service Provider” icon next to your profile picture displayed on various feeds throughout IdeaJam.   After you are hired, we expect that your clients can provide public feedback and ratings for you, providing valuable information about your skill level for subsequent clients to review (so take good care of the people who hire you!)

    .pagefooter
      include ../partials/footer.jade

  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')