doctype html
html
  head
    include ../partials/head.jade
  body
  .header
    span.userName Howdy #{user.username}
    |  
    img(src="./avatar.png" height="75" width="75")
    a.home-logout.btn.btn-default( href="/logout" ) Log Out

  .container.scoreIdea
    h1 Featurability
    h4 
      | Will features of the product directly help solve the customer's problems?
    br
    form(role='form', id="formFeaturability" action="/featurability", method="post", style='max-width: 600px;', data-idea-doc=idea)
      .slider-container
        .slider-end-labels
          span.no-way No Way
          span.yes-way Yes Way
        #featureLabelOne.sliderLabel
        #featureSliderOne
      br
      button.btn.btn-success Continue >
      br
      br
      h3 Einstein Points: #{user.einsteinPoints}

  include ../partials/js-includes.jade
  script(type="text/javascript").
    var labelArr = _.range(101).map(function(number){
      return number.toString();
    });
    var initialValue=50, min=1, max=100;

    ////////////////////////////////////////////
    // SET UP SLIDER ONE
    ////////////////////////////////////////////
    $("#featureSliderOne").slider({
      value:initialValue,
      min: min,
      max: max,
      step: 1,
      slide: function( event, ui ) {
          $("#featureLabelOne").text(labelArr[ui.value]);
          $("#featureLabelOne").css("margin-left", (ui.value-min)/(max-min)*100+"%");
          $("#featureLabelOne").css("left", "-50px");
      }
    });
    $("#featureLabelOne").text(labelArr[initialValue]);
    $("#featureLabelOne" ).css("margin-left", (initialValue -1)/(max-min)*100+"%");
    $("#featureLabelOne").css("left", "-50px");

    $("button.btn-success").click(function(event){
      var sliderOneValue = $("#featureSliderOne").slider("value");
      var inputOne = $("<input>")
               .attr("type", "hidden")
               .attr("name", "featureSliderOneValue").val(sliderOneValue);
      $('#formFeaturability').append($(inputOne)).submit();
    });