doctype html
html
  head
    include ../partials/head.jade
    include ../partials/js-includes.jade
  body#topSection
    .header.navbar.navbar-default.jamTopNav
      include ../partials/header.jade

    .container.text-center
        .row
            div.hero-unit 
                h1 Patent. Refine. Fund.
        .row    
            h2 IdeaJam helps founders protect and build on their ideas
            br
            h3 Own Your Ideas
            p.text-left A specific challenge faced by inventors under the &quot;first-to-file&quot; US patent system in place in the US is speed. Founders must act quickly to generate and file a patent application to obtain priority and patent pending status. If a startup founder does not win the race to file a patent application, that innovator may lose the rights in the invention he wishes to build a business around.  
            p.text-left Thus, startup founders must protect their innovations before disclosing them to the world. IdeaJam helps innovators obtain patent pending status and a patent filing date for ideas they generate through IdeaJam.  IdeaJam actually can generate a patent application template for ideas that inventors run through the IdeaJam system (of course, IdeaJam does not provide legal advice and strongly recommends that every inventor consult with a patent attorney before filing a patent application - but IdeaJam helps inventors connect with patent attorneys as well!)  Once an inventor files a provisional patent application from the application template IdeaJam generates, she can claim priority back to the patent application’s date to win any ensuing battles with those who attempt to commercialize similar inventions after the filing date.
            br
            h3 Improve Your Ideas
            p.text-left IdeaJam also makes it easier and safer to connect with networks of people with specific skills who can make innovations better. After an innovator files a patent application, IdeaJam allows an inventor to share an invention to the entire IdeaJam network. Other IdeaJam users can identify specific imperfections associated with an invention and suggest solutions. The IdeaJam model incentivizes the crowd to not only suggest improvements to someone else’s invention, but assign all rights in those solutions back to the original inventor.  IdeaJam allows people with special aptitudes market their skills to inventors who require specific aptitudes to solve imperfections associated with their inventions.
            p.text-left If startup founders disclose their ideas - for instance, to raise funds - they risk losing rights every novel innovation that they create. The quandary founders often face, however, is that they usually need to raise money before they can hire a good patent lawyer. What patent work can startup founders perform on their own?
            br
            h3.text-center IdeaJam creates economies of scale for innovation. 
            br
            h4.text-left The IdeaJam platform leverages crowdsourcing, crowdfunding and the sharing economy. IdeaJam provides for less expensive,  more effective preparation of patent applications.  IdeaJam facilitiates opportunities for crowd-generated solutions to technical imperfections of inventive concepts. And IdeaJam connects inventors and startup founders with access to crowdfunded capital to build businesses around worthy innovations.
            br
            br
           
    .pagefooter
      include ../partials/footer.jade
