doctype html
html
  head
    include ../partials/head.jade
  body
  .header.navbar.navbar-default
    include ../partials/header.jade

  .container.view-idea-suggestions
    .row
      h1 All Public Ideas
      //- h4 Once an imagineer on IdeaJam generates an idea, he or she can expose it to the world after filing a provisional patent application and obtaining patent pending status on that idea. Then, you and the rest of the IdeaJam crowd can earn rewards by scoring ideas, adding imperfections, suggesting solutions and crowdfunding the best concepts.  
      h3 Welcome to the greatest engine for innovation that the world has ever known.
    each idea, index in ideas
      - var ideaName
      - var ideaLink
      - var problemCategory
      - var viabilityScore
      - var accountName
      - var ideaImage
      - var ideaImageStyle
      - var inventorImage
      - var inventorImageStyle
      - var accountNickname
      if index % 3 == 0 
        .row
          .col-md-4.view-all-idea-block
            if(ideas[index])
              - ideaName = ideas[index][0] || ""
              - ideaLink = "/ideas/"+ ideas[index][0]
              - problemCategory = ideas[index][1] || ""
              - viabilityScore = ideas[index][2] || ""
              - accountName = ideas[index][3]
              - ideaImage = ideas[index][4] || ""
              - ideaImageStyle = ideas[index][5]
              - inventorImage = ideas[index][6] || ""
              - inventorImageStyle = ideas[index][7] || ""
              - accountNickname = ideas[index][8] || ""
              include ../partials/view-all-idea-block.jade
          .col-md-4.view-all-idea-block
            if(ideas[index + 1])
              - ideaName = ideas[index + 1][0] || ""
              - ideaLink = "/ideas/"+ ideas[index + 1][0] || ""
              - problemCategory = ideas[index + 1][1] || ""
              - viabilityScore = ideas[index + 1][2] || ""
              - accountName = ideas[index + 1][3] || ""
              - ideaImage = ideas[index + 1][4] || ""
              - ideaImageStyle = ideas[index + 1][5] || ""
              - inventorImage = ideas[index + 1][6] || ""
              - inventorImageStyle = ideas[index + 1 ][7] || ""
              - accountNickname = ideas[index + 1][8] || ""
              include ../partials/view-all-idea-block.jade
          .col-md-4.view-all-idea-block
            if(ideas[index + 2 ])
              - ideaName = ideas[index + 2 ][0] || ""
              - ideaLink = "/ideas/"+ ideas[index + 2 ][0] || ""
              - problemCategory = ideas[index + 2 ][1] || ""
              - viabilityScore = ideas[index + 2][2] || ""
              - accountName = ideas[index + 2 ][3] || ""
              - ideaImage = ideas[index + 2 ][4] || ""
              - ideaImageStyle = ideas[index + 2][5] || ""
              - inventorImage = ideas[index + 2 ][6] || ""
              - inventorImageStyle = ideas[index + 2 ][7] || ""
              - accountNickname = ideas[index + 2][8] || ""
              include ../partials/view-all-idea-block.jade
    br

  include ../partials/js-includes.jade
  script(type="text/javascript").
