doctype html
html
  head
    include ../partials/head.jade
  body
  .header
    span.userName Howdy #{user.username}
    |  
    img(src="/avatar.png" height="75" width="75")
    a.home-logout.btn.btn-default( href="/begin" ) My Profile
    | 
    a.home-logout.btn.btn-default( href="/logout" ) Log Out

  .container
    h1 Key Features and Components
    form(role='form', id="formImageUpload" action="/image-upload", method="post", data-idea-doc=idea, enctype="multipart/form-data")
      .form-group
        h3 Upload a graphic to annotate features and components, or just list them.  Images are worth more Einstein points though, just saying.
        |  
        input(type="file", name="picture")
        br
        button.btn.btn-success(type='submit') Upload
        |  
        a.btn.btn-default( href="/idea-summary" ) Continue > 

  .imagesList
    if(imageURLs)
      h3 Uploaded Images
      h5 Click to Annotate
      each imageURL in imageURLs
        a(href="/annotate-image/"+imageURL[0])
          img.imageListItems(src=imageURL[1])

  h3 What are three key features to your idea?
  form(role='form', id="formKeyFeatures" action="/key-features", method="post", style='max-width: 300px;', data-idea-doc=idea)
    .form-group
      textarea.form-control(type='text', name="firstFeature", placeholder='First feature...')
      |  
      textarea.form-control(type='text', name="secondFeature", placeholder='Second feature...')
      |  
      textarea.form-control(type='text', name="thirdFeature", placeholder='Third feature...')
    button.btn.btn-success(type='submit') Continue >
            



  include ../partials/js-includes.jade