doctype html
html
  head
    include ../partials/head.jade
  body
  .header
    span.userName Howdy #{user.username}
    |  
    img(src="/avatar.png" height="75" width="75")
    a.home-logout.btn.btn-default( href="/begin" ) My Profile
    | 
    a.home-logout.btn.btn-default( href="/logout" ) Log Out

  .container
    h1 Key Features and Components
    form(role='form', id="formImageUpload" action="/image-upload", method="post", data-idea-doc=idea, enctype="multipart/form-data")
      .form-group
        h3 Upload a graphic to annotate features and components, or just list them.  Images are worth more Einstein points though, just saying.
        |  
        input(type="file", name="picture")
        br
        button.btn.btn-success(type='submit') Upload
        |  
        if reviewing
          a.btn.btn-default( href="/contributor-idea-summary" ) Continue >
        else
          a.btn.btn-default( href="/idea-summary" ) Continue >

  .imagesList.my-images
    if(imageURLs)
      h3 Your Images
      each imageURL in imageURLs
        if imageURL[2] == user.username
          a(href="/annotate-image/"+imageURL[0])
            img.imageListItems(src=imageURL[1])

  .imagesList.other-images
    if(imageURLs)
      h3 All Other Uploaded Images
      h5 (Cannot Annotate)
      each imageURL in imageURLs
        if imageURL[2] != user.username
          img.imageListItems(src=imageURL[1])            



  include ../partials/js-includes.jade
  script(type="text/javascript").
    if($(".my-images img").length == 0){
      $(".my-images").append("<h4> No images uploaded yet.</h4>");
    } else {
      $(".my-images").append("<h4>Click to Annotate.</h4>");
    }
