doctype html
html
  head
    include ../partials/head.jade
  body
  .header
    span.userName Howdy #{user.username}
    |  
    img(src="/avatar.png" height="75" width="75")
    a.home-logout.btn.btn-default( href="/begin" ) My Profile
    | 
    a.home-logout.btn.btn-default( href="/logout" ) Log Out

  .container
    h1 Upload an Image
    form(role='form', id="formImageUpload" action="/image-upload", method="post", data-idea-doc=idea, enctype="multipart/form-data")
      .form-group
        h3 If you have a napkin sketch, finger paint, watercolor, engineering sketch, or anything in between, any graphical representation of the concept can help you and others define and improve your #{idea.name}. If you can quickly sketch something out on printer paper and take a photo of it, or have another graphic, upload it here (and begin to earn Einstein points!)
        |  
        input(type="file", name="picture")
        br
        button.btn.btn-success(type='submit') Upload (+10) >
        |  
        a.btn.btn-default( href="/idea-seed-summary" ) Skip > 

  .imagesList
    if(imageURLs)
      h3 Uploaded Images
      h5 Click to Annotate
      each imageURL in imageURLs
        a(href="/annotate-image/"+imageURL[0])
          img.imageListItems(src=imageURL[1])



  include ../partials/js-includes.jade