doctype html
html
  head
    include ../partials/head.jade
  body
  .header
    span.userName Howdy #{user.username}
    |  
    .profile-headshot
      if headshot
        img.placeholder(src=headshot height="75" width="75")
        a.plus-overlay(href="/profile-picture")
          img(src='/plus-overlay.png' height="75" width="75")
      else  
        img.placeholder(src="/avatar.png" height="75" width="75")
        a.plus-overlay(href="/profile-picture")
          img(src='/plus-overlay.png' height="75" width="75")
    a.home-logout.btn.btn-default( href="/begin" ) My Profile
    | 
    a.home-logout.btn.btn-default( href="/logout" ) Log Out

  .container
    form(role='form', id="formIntroduceIdea" action="/introduce-idea", method="post", style='max-width: 300px;', data-idea-doc=idea)
      .form-group
        h3 What challenge does your idea solve?
        input.form-control(type="text",name="purposeFor", value='The problem of ', id="challenge")
        p (ex. "time travel")
        p#charactersRemaining 
        br
      a.home-logout.btn.btn-default( href="/idea-summary" ) Idea Summary
      |  
      button.btn.btn-success(type='submit') Continue (+5)


    br
    p Hint : Keep it simple here.  You can add more detailed problems later.

  include ../partials/js-includes.jade
  script(type="text/javascript").
    var input = document.getElementsByTagName ("input");

    // This is for the main solution text input
    var requiredText = "The problem of "
    $("#charactersRemaining").text((200 ) + " characters remaining");
    input[0].addEventListener ("mousedown", function () {
      if (String($(this).val()).indexOf(requiredText) == -1) {
            $(this).val(requiredText);
      }
      if (this.selectionStart < 15) {
        this.selectionStart = 15;
      }
    }, false);

    input[0].addEventListener ("keydown", function () {
      if (String($(this).val()).indexOf(requiredText) == -1) {
            $(this).val(requiredText);
      }
      if (this.selectionStart < 15) {
        this.selectionStart = 15;
      }
      $("input#challenge").keyup(function(){
        $("#charactersRemaining").text((200 + requiredText.length - $(this).val().length) + " characters remaining");
      });
    }, false);

