doctype html
html
  head
    include ../partials/head.jade
  body
  .header.navbar.navbar-default
    include ../partials/header.jade

  .container
    .row
      .col-xs-12
        form(role='form', id="formIntroduceIdea" action="/introduce-idea", method="post", style='max-width: 300px;', data-idea-doc=idea)
          .form-group
            h3 What problem does your idea solve?
            input(type="hidden", name="_csrf", value="#{csrfToken}")
            input.form-control(type="text",name="purposeFor", value='The problem of ', id="challenge")
            p (ex. "time travel")
            p#charactersRemaining
          .row
            .col-xs-4
              a.home-logout.btn.btn-industry.btn-lg( href="/imagineer/" + user.nickname ) Cancel
            .col-xs-8
              button.btn.btn-success.btn-lg.btn-continue(type='submit') Continue
          .row
            .col-xs-12
              .hint Hint : Keep it simple here.  You can add more detailed problems later.

  include ../partials/js-includes.jade
  script(type="text/javascript").
    var input = document.getElementsByTagName("input");

    // This is for the main solution text input
    var requiredText = "The problem of "
    $("#charactersRemaining").text((200 ) + " characters remaining");
    input[1].addEventListener ("mousedown", function () {
      if (String($(this).val()).indexOf(requiredText) == -1) {
            $(this).val(requiredText);
      }
      if (this.selectionStart < 15) {
        this.selectionStart = 15;
      }
    }, false);

    input[1].addEventListener ("keydown", function () {
      if (String($(this).val()).indexOf(requiredText) == -1) {
            $(this).val(requiredText);
      }
      if (this.selectionStart < 15) {
        this.selectionStart = 15;
      }
      $("input#challenge").keyup(function(){
        $("#charactersRemaining").text((200 + requiredText.length - $(this).val().length) + " characters remaining");
      });
    }, false);

