doctype html
html
  head
    include ../partials/head.jade
  body
  .header
    span.userName Howdy #{user.username}
    |  
    .profile-headshot
      if headshot
        img.placeholder(src=headshot height="75" width="75")
        a.plus-overlay(href="/profile-picture")
          img(src='/plus-overlay.png' height="75" width="75")
      else  
        img.placeholder(src="/avatar.png" height="75" width="75")
        a.plus-overlay(href="/profile-picture")
          img(src='/plus-overlay.png' height="75" width="75")
    a.home-logout.btn.btn-default( href="/begin" ) My Profile
    | 
    a.home-logout.btn.btn-default( href="/logout" ) Log Out

  .container
    h1 What are three key features to your idea?
    form(role='form', id="formKeyFeatures" action="/key-features", method="post", style='max-width: 300px;', data-idea-doc=idea)
      .form-group
        textarea.form-control(type='text', name="firstFeature", placeholder='First feature...')
        |  
        textarea.form-control(type='text', name="secondFeature", placeholder='Second feature...')
        |  
        textarea.form-control(type='text', name="thirdFeature", placeholder='Third feature...')
      button.btn.btn-success(type='submit') Continue >
      |  

  include ../partials/js-includes.jade
