doctype html
html
  head
    include ../partials/head.jade
    include ../partials/js-includes.jade
  body#topSection
    nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          .row
            .col-md-4
                img(src="/ideajam_beta2.png", height="40")
            .col-md-4
            .col-md-4.text-right
                if !(user)
                    a.home-login.btn.btn-go.btn-sm(href="/login") Login
                    a.home-login.btn.btn-primary.btn-sm(href="/register") Register
                if (user)
                    a.home-login.btn.btn-go.btn-sm(href="/", type='button') 
                      |   Start Jamming        
                      span.fa.fa-caret-square-o-right

    .container.text-center
      .row
            div.hero-unit  
                h2 <span class="aboutBold">The IdeaJam Team
                h3.text-center We are on a mission to create the greatest engine for innovation that the world has ever seen.
                br
      .row
          .col-sm-6
              .row
                  img(src="http://www.rockymountainpatent.com/wp-content/uploads/2016/03/Jeff-formal-photo-CIRCLE.png" class="img-responsive center-block about-pic")
              .row.text-left.aboutPadding
                  h2 Jeff Schell
                  h4 CEO
                  p Aside from IdeaJam, Jeff currently leads TranS1, a formerly NASDAQ-traded company, taking it private as its President & CEO, while also owning several other successful ventures including a patent law firm.  Jeff has led his companies to average over 40% year-on-year growth and over $10MM in revenues.  Jeff separately is a patent attorney and the founder of law firm Rocky Mountain Patent.  The firm has grown to advise startups and innovators across the country.  It now features several Ph.Ds, engineers and patent lawyers aligned with one key focus: to help startups protect their ideas.  One of Jeff's associates at the firm recently won a "SuperLawyers" honor, and the firm remains one of the fastest growing in Colorado.
                  p Jeff attended Northwestern University, graduating with degrees in Industrial Engineering & Management Sciences and Economics in 2004. He subsequently earned his JD and masters degrees in International Studies and Medical Informatics. Jeff separately studied economics at Harvard University, and in 2007, was a delegate at the Harvard China-India Development & Relations Symposium. In 2016, ColoradoBiz Magazine named Jeff one of the 25 "Most Influential Young Professionals in Colorado." He was also a 2016 finalist for Denver Post's "Colorado Innovator of the Year" and "Denver Trailblazer."
          .col-sm-6
              .row
                  img(src="/JoeCropped.jpg" class="img-responsive center-block about-pic")
              .row.text-left.aboutPadding
                  h2 Joe Oldenburg
                  h4 CTO
                  p
                    | Joe started freelance software development in April 2014, and has been building new projects for clients ever since. Some projects have been collaborations with graphic designers, marketing teams, and other specialists.  Recent collaborators include 
                    a(target='_blank', href='http://roothousestudio.com/') Root House
                    |  and 
                    a(target='_blank', href='http://www.amyhayes.co/') Amy Hayes
                    | .
                  p
                    | Joe comes from a discrete math and computer science background, including full-stack web development at the 
                    a(target='_blank', href='http://nsidc.org/') National Snow and Ice Data Center
                    | , at the University of Colorado - Boulder from 2011 through 2014. Around the Boulder area, he frequently attends the Boulder JavaScript Meetup and other tech/startup events.
      .row
          .col-sm-6
              .row
                  img(src="http://www.rockymountainpatent.com/wp-content/uploads/2016/03/Majid.png" class="img-responsive center-block about-pic")
              .row.text-left.aboutPadding
                  h2 Majid Boroujerdi
                  h4 CMO
                  p Majid Boroujerdi managed a $400M business at Procter and Gamble and co-founded a behavior change company focused on weight loss. In addition Majid has tremendous expertise in both product management and marketing. He started as a chemical engineer at Procter and Gamble and eventually gained experience in new business development, consumer research and product marketing. Some of these skills were honed in the process of developing a personal genetics service formerly known as Navigenics.
                  p In 2016, Majid participated as a selected CEO for the 10.10.10 conference to solve one often wicked problems facing healthcare.
                  p Majid holds a degree in chemical engineering from Northwestern University.
          .col-sm-6
              .row
                  img(src="http://www.rockymountainpatent.com/wp-content/uploads/2016/03/Yuta2.png" class="img-responsive center-block about-pic")
              .row.text-left.aboutPadding
                  h2 Yuta Okkotsu, Ph.D
                  h4 CXO
                  p Yuta’s research experience ranges from molecular biology and pathogenesis of the medically relevant microbe, Pseudomonas aeruginosa, to bacterial biofilm formation. Yuta also graduated from SoSu Creative Labs in Denver, where he gained valuable industrial design and user interface experience experience. His experience centers on integrating his scientific background with product design and development.  Yuta separately works as a patent technical specialist with Rocky Mountain Patent.
                  p Yuta maintains a sampling of his design projects at okkotsudesign.com.
                  p He holds a Ph.D in Microbiology from the University of Colorado School of Medicine.
      .row
        p IdeaJam is owned and operated by Quandary Dev, LLC

    .pagefooter
      include ../partials/footer.jade

  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')