doctype html
html
  head
    include ../partials/head.jade
  body
  .header
    span.userName Howdy #{user.username}
    |  
    img(src="./avatar.png" height="75" width="75")
    a.home-logout.btn.btn-default( href="/logout" ) Log Out

  form(role='form', id="formPerformability" action="/performability", method="post", style='max-width: 600px;', data-idea-doc=idea)
    .container.scoreIdea
    h1 Performability
    h4
      | Will the product perform the way I want?
    br
    .slider-container
      .slider-end-labels
        span.no-way No Way
        span.yes-way Yes Way
      #perfLabelOne.sliderLabel
      #perfSliderOne(name="perfSliderOne")
    br
    h4 Why can't your idea always perform the way you wish?
    textarea.form-control(rows='6', cols="75", name="performProblem", placeholder='Describe the problem...')
    br
    button.btn.btn-success Continue >
    br
    br
    h3 Einstein Points: #{user.einsteinPoints}

  include ../partials/js-includes.jade
  script(type="text/javascript").
    var labelArr = _.range(101).map(function(number){
      return number.toString();
    });
    var initialValue=50, min=1, max=100;

    ////////////////////////////////////////////
    // SET UP SLIDER ONE
    ////////////////////////////////////////////
    $("#perfSliderOne").slider({
      value:initialValue,
      min: min,
      max: max,
      step: 1,
      slide: function( event, ui ) {
          $("#perfLabelOne").text(labelArr[ui.value]);
          $("#perfLabelOne").css("margin-left", (ui.value-min)/(max-min)*100+"%");
          $("#perfLabelOne").css("left", "-50px");
      }
    });
    $("#perfLabelOne").text(labelArr[initialValue]);
    $("#perfLabelOne" ).css("margin-left", (initialValue -1)/(max-min)*100+"%");
    $("#perfLabelOne").css("left", "-50px");

    $("button.btn-success").click(function(event){
      var sliderOneValue = $("#perfSliderOne").slider("value");
      var inputOne = $("<input>")
               .attr("type", "hidden")
               .attr("name", "perfSliderOneValue").val(sliderOneValue);
      $('#formPerformability').append($(inputOne))
        .append($(inputTwo))
        .append($(inputThree))
        .submit();
    });