doctype html
html
  head
    include ../partials/head.jade
  body
  .header
    span.userName Howdy #{user.username}
    |  
    a.home-logout.btn.btn-default( href="/logout" ) Log Out

  form(role='form', id="formPerformability" action="/performability", method="post", style='max-width: 600px;', data-idea-doc=idea)
    .container.scoreIdea
    h1 Performability
    h4
      | Will the product perform the way I want?
    br
    .slider-container
      .slider-end-labels
        span.no-way No Way
        span.yes-way Yes Way
      #perfLabelOne.sliderLabel
      #perfSliderOne(name="perfSliderOne")
    br
    h4 
      | What is the level of utility to the customer we are trying to reach?
    br
    .slider-container
    .slider-container
      .slider-end-labels
        span.no-way No Way
        span.yes-way Yes Way
      #perfLabelTwo.sliderLabel
      #perfSliderTwo(name="perfSliderTwo")
    br
    h4 
      | Will your idea enable a user to effectively all aspects of the user's problem?
    br
    .slider-container
      .slider-end-labels
        span.no-way No Way
        span.yes-way Yes Way
    .slider-container
      #perfLabelThree.sliderLabel
      #perfSliderThree(name="perfSliderThree")
    br
    button.btn.btn-success Continue >

  include ../partials/js-includes.jade
  script(type="text/javascript").
    var labelArr = _.range(101).map(function(number){
      return number.toString();
    });
    var initialValue=50, min=1, max=100;

    ////////////////////////////////////////////
    // SET UP SLIDER ONE
    ////////////////////////////////////////////
    $("#perfSliderOne").slider({
      value:initialValue,
      min: min,
      max: max,
      step: 1,
      slide: function( event, ui ) {
          $("#perfLabelOne").text(labelArr[ui.value]);
          $("#perfLabelOne").css("margin-left", (ui.value-min)/(max-min)*100+"%");
          $("#perfLabelOne").css("left", "-50px");
      }
    });
    $("#perfLabelOne").text(labelArr[initialValue]);
    $("#perfLabelOne" ).css("margin-left", (initialValue -1)/(max-min)*100+"%");
    $("#perfLabelOne").css("left", "-50px");

    ////////////////////////////////////////////
    // SET UP SLIDER TWO
    ////////////////////////////////////////////
    $("#perfSliderTwo").slider({
      value:initialValue,
      min: min,
      max: max,
      step: 1,
      slide: function( event, ui ) {
          $("#perfLabelTwo").text(labelArr[ui.value]);
          $("#perfLabelTwo").css("margin-left", (ui.value-min)/(max-min)*100+"%");
          $("#perfLabelTwo").css("left", "-50px");
      }
    });
    $("#perfLabelTwo").text(labelArr[initialValue]);
    $("#perfLabelTwo" ).css("margin-left", (initialValue -1)/(max-min)*100+"%");
    $("#perfLabelTwo").css("left", "-50px");

    ////////////////////////////////////////////
    // SET UP SLIDER THREE
    ////////////////////////////////////////////
    $("#perfSliderThree").slider({
      value:initialValue,
      min: min,
      max: max,
      step: 1,
      slide: function( event, ui ) {
          $("#perfLabelThree").text(labelArr[ui.value]);
          $("#perfLabelThree").css("margin-left", (ui.value-min)/(max-min)*100+"%");
          $("#perfLabelThree").css("left", "-50px");
      }
    });
    $("#perfLabelThree").text(labelArr[initialValue]);
    $("#perfLabelThree" ).css("margin-left", (initialValue -1)/(max-min)*100+"%");
    $("#perfLabelThree").css("left", "-50px");

    $("button.btn-success").click(function(event){
      var sliderOneValue = $("#perfSliderOne").slider("value");
      var inputOne = $("<input>")
               .attr("type", "hidden")
               .attr("name", "perfSliderOneValue").val(sliderOneValue);
      var sliderTwoValue = $("#perfSliderTwo").slider("value");
      var inputTwo = $("<input>")
               .attr("type", "hidden")
               .attr("name", "perfSliderTwoValue").val(sliderTwoValue);
      var sliderThreeValue = $("#perfSliderThree").slider("value");
      var inputThree = $("<input>")
               .attr("type", "hidden")
               .attr("name", "perfSliderThreeValue").val(sliderThreeValue);
      $('#formPerformability').append($(inputOne))
        .append($(inputTwo))
        .append($(inputThree))
        .submit();
    });