doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', rel='stylesheet', media='screen')
    link(rel='stylesheet', href='/stylesheets/main.css')
  body
  .header
    span.userName Howdy #{user.username}
    |  
    a.home-logout.btn.btn-default( href="/logout" ) Log Out

  .container
    h1 What problem is your idea going to solve?
    form(role='form', id="formProblemSolver" action="/problem-solver", method="post", style='max-width: 300px;', data-idea-doc=idea)
      .form-group
        textarea.form-control(rows='6', cols="75", name="problemToSolve", placeholder='Describe the problem here...')
      button.btn.btn-success(type='submit') Continue >
      |  

  script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')