doctype html
html
  head
    include ../partials/head.jade
  body
  .container
    h1 Register Page
    p.lead Register to continue.
    br
    form(role='form', action="/register",method="post", style='max-width: 300px;')
      .form-group
        input.form-control(type='text', name="firstname", placeholder='First Name' required)
      .form-group
        input.form-control(type='text', name="lastname", placeholder='Last Name' required)
      .form-group
        input.form-control(type='text', name="nickname", placeholder='Nickname' required)
      .form-group
        input.form-control(type='email', name="username", placeholder='Email Address' required)
      .form-group
        input.form-control(type='password', name="password", placeholder='Password' required)
        input(type="hidden", name="_csrf", value="#{csrfToken}")
      button.btn.btn-default(type='submit') Submit
      |  
      a(href='/')
        button.btn.btn-primary(type="button") Cancel
      |  
      h4 #{message}

  include ../partials/js-includes.jade
