doctype html
html
  head
    include ../partials/head.jade
  body
  .container
    h1 Reset Password
    p.lead Enter your new password below
    br
    form(role='form', action="/reset-password",method="post", style='max-width: 300px;')
      .form-group
        input.form-control(type='password', name="password", placeholder='Password' required)
        input(type="hidden", name="resetToken", value="#{resetToken}")
        input(type="hidden", name="_csrf", value="#{csrfToken}")          
      button.btn.btn-go(type='submit') Submit
      |  
      a(href='/')
        button.btn.btn-primary(type="button") Cancel
      |  

  include ../partials/js-includes.jade
