doctype html
html
  head
    include ../partials/head.jade
  body
  .header
    span.userName Howdy #{user.username}
    |  
    a.home-logout.btn.btn-default( href="/logout" ) Log Out

  .container.scoreIdea
    h1 Useability
    h4 
      | How easily and.or quickly can our customers learn to use the product?
    br
    form(role='form', id="formUseability" action="/useability", method="post", style='max-width: 600px;', data-idea-doc=idea)
      .slider-container
        .slider-end-labels
          span.no-way No Way
          span.yes-way Yes Way
        #useabilityLabelOne.sliderLabel
        #useabilitySliderOne
      br
      button.btn.btn-success Continue >

  include ../partials/js-includes.jade
  script(type="text/javascript").
    var labelArr = _.range(101).map(function(number){
      return number.toString();
    });
    var initialValue=50, min=1, max=100;

    ////////////////////////////////////////////
    // SET UP SLIDER ONE
    ////////////////////////////////////////////
    $("#useabilitySliderOne").slider({
      value:initialValue,
      min: min,
      max: max,
      step: 1,
      slide: function( event, ui ) {
          $("#useabilityLabelOne").text(labelArr[ui.value]);
          $("#useabilityLabelOne").css("margin-left", (ui.value-min)/(max-min)*100+"%");
          $("#useabilityLabelOne").css("left", "-50px");
      }
    });
    $("#useabilityLabelOne").text(labelArr[initialValue]);
    $("#useabilityLabelOne" ).css("margin-left", (initialValue -1)/(max-min)*100+"%");
    $("#useabilityLabelOne").css("left", "-50px");

    $("button.btn-success").click(function(event){
      var sliderOneValue = $("#useabilitySliderOne").slider("value");
      var inputOne = $("<input>")
               .attr("type", "hidden")
               .attr("name", "useabilitySliderOneValue").val(sliderOneValue);
      $('#formUseability').append($(inputOne)).submit();
    });