doctype html
html
  head
    include ../partials/head.jade
  body
  .header
    span.userName Howdy #{user.username}
    |  
    .profile-headshot
      if headshot
        img.placeholder(src=headshot height="75" width="75")
        a.plus-overlay(href="/profile-picture")
          img(src='/plus-overlay.png' height="75" width="75")
      else  
        img.placeholder(src="/avatar.png" height="75" width="75")
        a.plus-overlay(href="/profile-picture")
          img(src='/plus-overlay.png' height="75" width="75")
    a.home-logout.btn.btn-default( href="/begin" ) My Profile
    | 
    a.home-logout.btn.btn-default( href="/logout" ) Log Out

  .view-idea-suggestions
    h1 Contribute to an Idea
    br
    

    table.suggestion-table
      tr
        th.left-column Latest Idea Seeds
      each idea, index in ideas
        if idea[0] 
          tr
            td
              - var ideaName = idea[0]
              - var ideaLink = "/contributor-idea-summary/"+ idea[0]
              - var problemCategory = idea[1]
              - var suggestionProblem = "W: "+ idea[2][0] +" V: "+idea[2][1]
              - var accountName = idea[3]
              - var ideaImage = idea[4]
              - var inventorImage = idea[5]
              include ../partials/view-all-idea-block.jade
    br

    br
    a.home-logout.btn.btn-default( href="/begin" ) < Back to Profile
    br
    br
    br

  include ../partials/js-includes.jade
  script(type="text/javascript").
    $(".btn.suggest").click(function(){
      $("#suggestion-category").val($(this).attr("id"));
      $("#point-value").val($(this).text());
      $("#problem-type").val($("#selectProblem option:selected").attr("id"));
    });

    $("#submit").click(function(){
      $("#formSuggestion").submit();
      $("#myModal").modal('hide');
    });

    $("#selectProblem").change(function(){
      var problem = $("#selectProblem option:selected").attr("id");
      $.get("/update-suggestion-list/"+problem, function(data){
        document.location.href = "/view-idea-suggestions";
      });
    });




