doctype html
html
  head
    include ../partials/head.jade
  body
    .container-fluid.scoreIdea.view-all-viabilities
      .row
        .col-xs-2
        .col-xs-8
          h3 Viability Scores
        .col-xs-2
          a.close-viability(href="/ideas/#{idea.name}")
            img(src="/close_button.png" height="30" width="30")
      .row
        .col-sm-12
      each viability, index in viabilities
        - var scoreName = viability.reviewScore
        - var problem = viability.reviewProb
        .row
          .row
            .col-xs-12
              a(href="")
                h3 #{viability.name}
          .row
            .col-xs-4.viability-score
              if currentReview[scoreName]
                h3.specific-viability-score #{currentReview[scoreName]} 
                a(href='/' + viability.name + '-score')
                  img(src="/pencil.png" height="20" width="20")
              else 
                a.btn.btn-lg(href="/" + viability.name + "-score")
                  p Score
            .col-xs-8
              if problems[problem]
                .row
                  h4.viability-problem-statement #{problems[problem]['text'].substring(0,15)+ "..."}
                  a(href='/' + viability.name + '-problem')
                    img(src="/pencil.png" height="20" width="20")
                .row.make-suggestion
                  a.btn(href='/imperfection-profile/' + problems[problem]['identifier']) Suggestion a solution!
              else 
                a.btn.btn-lg(href="/" + viability.name + "-problem")
                  p Add imperfection

  include ../partials/js-includes.jade
  script(type="text/javascript").
