doctype html
html
  head
    include ../../partials/head.jade
  body
  .header.navbar.navbar-default
    include ../../partials/header.jade

  .container.view-idea-suggestions
    h1 All Public Jams
      //- h4 Once an imagineer on IdeaJam generates an idea, he or she can expose it to the world after filing a provisional patent application and obtaining patent pending status on that idea. Then, you and the rest of the IdeaJam crowd can earn rewards by scoring ideas, adding imperfections, suggesting solutions and crowdfunding the best concepts.  
    .row
      h2 Schools
    each jam, index in schools
      - var jamName
      - var description
      - var memberCount
      - var jamType
      - var jamImage
      - var leaders
      if index % 3 == 0 
        .row
          .col-md-4.view-all-jam-block
            if(schools[index])
              - jamName = jam.name || ""
              - description = jam.description || ""
              - memberCount = numberOfMembers[jam.name] || 0
              - leaders = jamLeaders[jam.name] || []
              - jamType = jam.type || ""
              - jamImage = jam.profilePic || ""
              include ../../partials/view-all-jam-block.jade
          .col-md-4.view-all-jam-block
            if(schools[index + 1])
              - jamName = schools[index + 1].name || ""
              - description = schools[index + 1].description || ""
              - memberCount = numberOfMembers[schools[index + 1].name] || 0
              - leaders = jamLeaders[schools[index + 1].name] || []
              - jamType = schools[index + 1].type || ""
              - jamImage = schools[index + 1].profilePic || ""
              include ../../partials/view-all-jam-block.jade
          .col-md-4.view-all-jam-block
            if(schools[index + 2 ])
              - jamName = schools[index + 2 ].name || ""
              - description = schools[index + 2 ].description || ""
              - memberCount = numberOfMembers[schools[index + 2 ].name] || 0
              - leaders = jamLeaders[schools[index + 2].name] || []
              - jamType = schools[index + 2 ].type || ""
              - jamImage = schools[index + 2 ].profilePic || ""
              include ../../partials/view-all-jam-block.jade
    br
    .row
      h2 Locations
    each jam, index in locations
      - var jamName
      - var description
      - var memberCount
      - var jamType
      - var jamImage
      if index % 3 == 0 
        .row
          .col-md-4.view-all-jam-block
            if(locations[index])
              - jamName = jam.name || ""
              - description = jam.description || ""
              - memberCount = numberOfMembers[jam.name] || 0
              - leaders = jamLeaders[jam.name] || []
              - jamType = jam.type || ""
              - jamImage = jam.profilePic || ""
              include ../../partials/view-all-jam-block.jade
          .col-md-4.view-all-jam-block
            if(locations[index + 1])
              - jamName = locations[index + 1].name || ""
              - description = locations[index + 1].description || ""
              - memberCount = numberOfMembers[locations[index + 1].name] || 0
              - leaders = jamLeaders[locations[index + 1].name] || []
              - jamType = locations[index + 1].type || ""
              - jamImage = locations[index + 1].profilePic || ""
              include ../../partials/view-all-jam-block.jade
          .col-md-4.view-all-jam-block
            if(locations[index + 2 ])
              - jamName = locations[index + 2 ].name || ""
              - description = locations[index + 2 ].description || ""
              - memberCount = numberOfMembers[locations[index + 2 ].name] || 0
              - leaders = jamLeaders[locations[index + 2].name] || []
              - jamType = locations[index + 2 ].type || ""
              - jamImage = locations[index + 2 ].profilePic || ""
              include ../../partials/view-all-jam-block.jade
    br
    .row
      h2 Companies
    each jam, index in companies
      - var jamName
      - var description
      - var memberCount
      - var jamType
      - var jamImage
      if index % 3 == 0 
        .row
          .col-md-4.view-all-jam-block
            if(companies[index])
              - jamName = jam.name || ""
              - description = jam.description || ""
              - memberCount = numberOfMembers[jam.name] || 0
              - leaders = jamLeaders[jam.name] || []
              - jamType = jam.type || ""
              - jamImage = jam.profilePic || ""
              include ../../partials/view-all-jam-block.jade
          .col-md-4.view-all-jam-block
            if(companies[index + 1])
              - jamName = companies[index + 1].name || ""
              - description = companies[index + 1].description || ""
              - memberCount = numberOfMembers[companies[index + 1].name] || 0
              - leaders = jamLeaders[companies[index + 1].name] || []
              - jamType = companies[index + 1].type || ""
              - jamImage = companies[index + 1].profilePic || ""
              include ../../partials/view-all-jam-block.jade
          .col-md-4.view-all-jam-block
            if(companies[index + 2 ])
              - jamName = companies[index + 2 ].name || ""
              - description = companies[index + 2 ].description || ""
              - memberCount = numberOfMembers[companies[index + 2 ].name] || 0
              - leaders = jamLeaders[companies[index + 2].name] || []
              - jamType = companies[index + 2 ].type || ""
              - jamImage = companies[index + 2 ].profilePic || ""
              include ../../partials/view-all-jam-block.jade
    br
    .row
      h2 Other Groups
    each jam, index in otherGroups
      - var jamName
      - var description
      - var memberCount
      - var jamType
      - var jamImage
      if index % 3 == 0 
        .row
          .col-md-4.view-all-jam-block
            if(otherGroups[index])
              - jamName = jam.name || ""
              - description = jam.description || ""
              - memberCount = numberOfMembers[jam.name] || 0
              - leaders = jamLeaders[jam.name] || []
              - jamType = jam.type || ""
              - jamImage = jam.profilePic || ""
              include ../../partials/view-all-jam-block.jade
          .col-md-4.view-all-jam-block
            if(otherGroups[index + 1])
              - jamName = otherGroups[index + 1].name || ""
              - description = otherGroups[index + 1].description || ""
              - memberCount = numberOfMembers[otherGroups[index + 1].name] || 0
              - leaders = jamLeaders[otherGroups[index + 1].name] || []
              - jamType = otherGroups[index + 1].type || ""
              - jamImage = otherGroups[index + 1].profilePic || ""
              include ../../partials/view-all-jam-block.jade
          .col-md-4.view-all-jam-block
            if(otherGroups[index + 2 ])
              - jamName = otherGroups[index + 2 ].name || ""
              - description = otherGroups[index + 2 ].description || ""
              - memberCount = numberOfMembers[otherGroups[index + 2 ].name] || 0
              - leaders = jamLeaders[otherGroups[index + 2].name] || []
              - jamType = otherGroups[index + 2 ].type || ""
              - jamImage = otherGroups[index + 2 ].profilePic || ""
              include ../../partials/view-all-jam-block.jade
    br

  include ../../partials/js-includes.jade
  script(type="text/javascript").
