doctype html
html
  head
    include ../../partials/head.jade
  body
  .header.navbar.navbar-default
    include ../../partials/header.jade

  .container.view-idea-suggestions
    .row
      h2 #{userAccount.nickname}'s Jams
    each jam, index in jams
      - var jamName
      - var description
      - var memberCount
      - var jamType
      - var jamImage
      - var leaders
      if index % 3 == 0 
        .row
          .col-md-4.view-all-jam-block
            if(jams[index])
              - jamName = jam.name || ""
              - description = jam.description || ""
              - memberCount = numberOfMembers[jam.name] || 0
              - leaders = jamLeaders[jam.name] || []
              - jamType = jam.type || ""
              - jamImage = jam.profilePic || ""
              include ../../partials/view-all-jam-block.jade
          .col-md-4.view-all-jam-block
            if(jams[index + 1])
              - jamName = jams[index + 1].name || ""
              - description = jams[index + 1].description || ""
              - memberCount = numberOfMembers[jams[index + 1].name] || 0
              - leaders = jamLeaders[jams[index + 1].name] || []
              - jamType = jams[index + 1].type || ""
              - jamImage = jams[index + 1].profilePic || ""
              include ../../partials/view-all-jam-block.jade
          .col-md-4.view-all-jam-block
            if(jams[index + 2 ])
              - jamName = jams[index + 2 ].name || ""
              - description = jams[index + 2 ].description || ""
              - memberCount = numberOfMembers[jams[index + 2 ].name] || 0
              - leaders = jamLeaders[jams[index + 2].name] || []
              - jamType = jams[index + 2 ].type || ""
              - jamImage = jams[index + 2 ].profilePic || ""
              include ../../partials/view-all-jam-block.jade
    br
    a.home-login.btn.btn-industry.btn-lg.btn-block( href="/view-jams" ) View All Jams

  include ../../partials/js-includes.jade
  script(type="text/javascript").
